<div data-hook="admin_inside_taxonomy_form" class="form-group">
  <%= f.field_container :featured, class: ['form-group'] do %>
    <%= f.label :featured, '피처드' %>
    <%= error_message_on :taxonomy, :featured, :class => 'error-message' %>
    <%= f.check_box :featured %>

  <% end %>
</div>

<div data-hook="admin_inside_taxonomy_form" class="form-group">
  <%= f.field_container :collection, class: ['form-group'] do %>
    <%= f.label :collection, '컬렉션' %>
    <%= error_message_on :taxonomy, :collection, :class => 'error-message' %>
    <%= f.check_box :collection %>

  <% end %>
</div>
<div data-hook="admin_inside_taxonomy_form" class="form-group">
  <%= f.field_container :featured_collection, class: ['form-group'] do %>
    <%= f.label :featured_collection, '피처드 컬렉션' %>
    <%= error_message_on :taxonomy, :featured_collection, :class => 'error-message' %>
    <%= f.check_box :featured_collection %>

  <% end %>
</div>


  <%= f.field_container :collection_description, class: ['form-group'] do %>
      <%= f.label :collection_description, '컬렉션 설명' %>
      <%= error_message_on :taxonomy, :collection_description, :class => 'error-message' %>
      <%= text_area :taxonomy, :collection_description, :class => 'form-control' %>
    <% end %>
