<table class="table sortable" id='listing_taxonomies' data-hook data-sortable-link="<%= update_positions_admin_taxonomies_url %>">
  <thead>
    <tr data-hook="taxonomies_header">
      <th class="no-border"></th>
      <th>이름</th>
      <th style="text-align: center">피처드</th>
      <th style="text-align: center">컬렉션</th>
      <th style="text-align: center">피처드 컬렉션</th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @taxonomies.each do |taxonomy| %>
      <tr id="<%= spree_dom_id taxonomy %>" data-hook="taxonomies_row">
        <td class="move-handle">
          <span class="icon icon-sort handle"></span>
        </td>
        <td><%= taxonomy.name %></td>
        <td style="text-align: center"><% if taxonomy.featured %> <span class="icon icon-ok"></span> <% end %></td>
        <td style="text-align: center"><% if taxonomy.collection %><span class="icon icon-ok"></span><% end %></td>
        <td style="text-align: center"><% if taxonomy.featured_collection %><span class="icon icon-ok"></span><% end %></td>


        <td class="actions actions-2 text-right">
          <%= link_to_edit taxonomy.id, no_text: true %>
          <%= link_to_delete taxonomy, no_text: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
