<%= render partial: 'js_head' %>

<% content_for :page_title do %>
  카테고리 수정
<% end %>

<div id="ajax_error" class="errorExplanation" style="display:none;"></div>

<%= form_for [:admin, @taxonomy] do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>
    <div class="form-group">
      <%= label_tag nil, '카테고리 트리' %>
      <script>
        Spree.routes.taxonomy_taxons_path = "<%= spree.api_taxonomy_taxons_path(@taxonomy) %>";
        Spree.routes.admin_taxonomy_taxons_path = "<%= spree.admin_taxonomy_taxons_path(@taxonomy) %>";
        Spree.routes.jstree_theme_path = "<%= stylesheet_path("jquery.jstree/themes/spree/style.css") %>";
      </script>
      <div id="taxonomy_tree" class="tree">
        <div class="alert alert-warning">
          <%= Spree.t(:loading_tree) %>
        </div>
      </div>
    </div>

    <div class="alert alert-info">
      마우스 오른쪽 버튼을 클릭하면 메뉴에서 추가, 삭제, 수정을 할수 있습니다.
    </div>

    <div class="form-actions">
      <%= button '저장', 'ok', 'submit', { class: 'btn-success' } %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to '취소', admin_taxonomies_path, icon: 'delete' %>
    </div>
  </fieldset>
<% end %>
