<% content_for :page_title do %>
  카테고리
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to '새 카테고리', new_object_url, class: "btn-success", icon: 'add', id: 'admin_new_taxonomy_link' %>
<% end %>

<% if @taxonomies.any? %>
  <div id="list-taxonomies" data-hook>
    <%= render 'list' %>
  </div>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Taxonomy)) %>,
    <%= link_to Spree.t(:add_one), new_object_url %>!
  </div>
<% end %>
