<% content_for :page_title do %>
  새 카테고리
<% end %>

<%= form_for [:admin, @taxonomy] do |f| %>
  <fieldset>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div class="form-actions" data-hook="buttons">
      <%= button '저장', 'save' %>
    </div>
  </fieldset>
<% end %>
