
if ("<%= @is_error %>" == "false") {
  if ("<%= @is_dup %>" == "true") {
    alert("Item has already been added to the collection.");
  }else {
    alert("The collection was successfully added.");
  }
}else {
    alert("An error occurred while adding the collection.");
}
