<section class="section-bar-1">
    <div class="container">
        <div class="callout-box-1">
            <div class="box-text">
                <h3>Collection Shop</h3>
            </div>

        </div>
    </div>
</section>


<style>
div.center-cropped2 {
    width: 255px;
    height: 255px;
    overflow: hidden;
}

</style>


<section class="section section-margin" style="min-height: 800px;">
    <div class="container">
        <div class="row">
            <% @collections.each do |collection| %>
              <% collection_items = collection.collection_items %>
              <div class="col-lg-3 col-sm-3 col-xs-12">
                  <div class="infobox-2 center">
                      <a href="/collections/<%= collection.id %>">
                        <div class="isotope-info">
                          <div class="center-cropped2">
                          <%= large_image(collection_items.sample.product, itemprop: "image", class: "img-responsive") %>
                        </div>
                            
                        </div>
                      </a>
                      <div class="infobox-text-6">
                          <h4><a href="#"><%= collection.user.email.split("@")[0] %></a></h4>
                          <!-- <p>Support</p> -->
                      </div>
                  </div>
              </div>
            <% end %>
        </div>
    </div>
</section>
