
<style>
div.center-cropped2 {
    width: 255px;
    height: 255px;
    overflow: hidden;
}

</style>

<section class="section section-margin">
  <div class="container">
      <div class="row">
        <div class="col-md-12">

          <p><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i> &nbsp;&nbsp;<span style="font-size: 20px;">Collection Shop</span></p>
          <div class="message message-info" style="background-color: rgba(0, 0, 0, 0.84); height: 120px;">
            <div style="color: white; font-size: 45px; margin-top: 22px;"># <%= @collection.user.email.split('@')[0].titleize %></div>
            <div style="float: right; color: white;">Collecting <%= @collection_items.count %> items</div>
          </div>
        </div>

          <div class="col-md-12">
              <nav class="pagination no-margin blog-margin-bottom">
                  <!-- <div class="sorting">
                      <a class="drop-toggle-2" href="#">Default sorting
                      <i class="fa fa-angle-down"></i></a>
                      <ul class="drop-menu-2">
                          <li><a href="#">Sort by popularity</a></li>
                          <li><a href="#">Sort by average rating</a></li>
                          <li><a href="#">Sort by newness</a></li>
                          <li><a href="#">Sort by price: low to high</a></li>
                          <li><a href="#">Sort by price: high to low</a></li>
                      </ul>
                  </div> -->
                  <p><%#= page_entries_info @collection_items, :entry_name => 'item' %></p>
              </nav>
          </div>
      </div>
      <div class="lowerpad row">
        <% @collection_items.each do  |item| %>
          <% product = item.product %>
          <% url = spree.product_url(product, taxon_id: @taxon.try(:id)) %>
          <div class="col-lg-3 col-sm-3 col-xs-12">
            <a href="<%= url %>?uid=<%= item.user_id.to_s %>" %>
              <div class="isotope-info">
                  <div class="center-cropped2">
                    <%= large_image(product, itemprop: "image", class: "img-responsive") %>
                  </div>
                  <div class="hover-info"><div class="infobox-3"></div></div>
              </div>
            </a>
              <div class="shop-item-label" style="margin-bottom: 20px;">
                  <h5><div style="height: 30px; display: block;"><%= link_to truncate(product.name, length: 50), url + "?uid=" + item.user_id.to_s, itemprop: "name", title: product.name %></div></h5>
                  <span><%= display_price(product) %></span>
              </div>
          </div>
        <% end %>

      </div>

      <% if @collection_items.respond_to?(:num_pages) %>
      <div class="row">
        <div class="col-xs-12" >

            <nav class="pagination">
              <div class="" style="width: 450px; margin: 0 auto;">
              <%= paginate @collection_items, theme: 'twitter-bootstrap-3' %>
              </div>
            </nav>

        </div>
      </div>
      <% end %>

  </div>
</section>
