<div data-hook="admin_payment_method_form_fields">

  <div data-hook="payment_method" class="row">

    <div class="col-md-4">
      <div id="preference-settings" data-hook class="form-group">
        <%= f.label :type, '제공자' %>
        <%= collection_select(:payment_method, :type, @providers, :to_s, :name, {}, {:id => 'gtwy-type', :class => 'select2'}) %>

        <% unless @object.new_record? %>
          <%= preference_fields(@object, f) %>

          <% if @object.respond_to?(:preferences) %>
            <div id="gateway-settings-warning" class="info warning"><%= Spree.t(:provider_settings_warning) %></div>
          <% end %>
        <% end %>
      </div>
      <div data-hook="display" class="form-group">
        <%= label_tag :payment_method_display_on, '디스플레이' %>
        <%= select(:payment_method, :display_on, Spree::PaymentMethod::DISPLAY.collect { |display| [Spree.t(display), display == :both ? nil : display.to_s] }, {}, {:class => 'select2'}) %>
      </div>
      <div data-hook="auto_capture" class="form-group">
        <%= label_tag :payment_method_auto_capture, '자동캡처' %>
        <%= select(:payment_method, :auto_capture, [["#{Spree.t(:use_app_default)} (#{Spree::Config[:auto_capture]})", ''], [Spree.t(:say_yes), true], [Spree.t(:say_no), false]], {}, {:class => 'select2'}) %>
      </div>
      <div data-hook="active" class="form-group">
        <strong>활성화</strong>
        <div class="radio">
          <%= label_tag :payment_method_active_true do %>
            <%= radio_button :payment_method, :active, true %>
            <%= Spree.t(:say_yes) %>
          <% end %>
        </div>

        <div class="radio">
          <%= label_tag :payment_method_active_false do %>
            <%= radio_button :payment_method, :active, false %>
            <%= Spree.t(:say_no) %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div data-hook="name" class="form-group">
        <%= label_tag :payment_method_name, '이름' %>
        <%= text_field :payment_method, :name, :class => 'form-control' %>
      </div>
      <div data-hook="description" class="form-group">
        <%= label_tag :payment_method_description, '설명' %>
        <%= text_area :payment_method, :description, { :cols => 60, :rows => 6, :class => 'form-control' } %>
      </div>
    </div>
  </div>
</div>
