<% content_for :page_title do %>
  결제방법
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to '새 결제방법', new_object_url, :class => "btn-success", :icon => 'add', :id => 'admin_new_payment_methods_link' %>
<% end if can? :create, Spree::PaymentMethod %>

<% if @payment_methods.any? %>
  <table class="table" id='listing_payment_methods'>
    <thead>
      <tr data-hook="admin_payment_methods_index_headers">
        <th>이름</th>
        <th>제공자</th>
        <th class="text-center">디스플레이</th>
        <th class="text-center">활성화</th>
        <th data-hook="admin_payment_methods_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @payment_methods.each do |method|%>
        <tr id="<%= spree_dom_id method %>" data-hook="admin_payment_methods_index_rows">
          <td><%= method.name %></td>
          <td><%= method.type %></td>
          <td class="text-center"><%= method.display_on.blank? ? Spree.t(:both) : Spree.t(method.display_on) %></td>
          <td class="text-center"><%= method.active ? Spree.t(:say_yes) : Spree.t(:say_no) %></td>
          <td data-hook="admin_payment_methods_index_row_actions" class="actions actions-2 text-right">
            <%= link_to_edit(method, :no_text => true) if can? :edit, method %>
            <%= link_to_delete(method, :no_text => true) if can? :delete, method %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::PaymentMethod)) %>,
    <%= link_to(Spree.t(:add_one), new_object_url) if can? :create, Spree::PaymentMethod %>!
  </div>
<% end %>
