<% content_for :page_title do %>
  새 결제방법
<% end %>

<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @payment_method } %>

<%= form_for @payment_method, :url => collection_url do |f| %>
  <fieldset>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div data-hook="buttons" class="actions">
      <%= button '저장', 'save' %>
    </div>
  </fieldset>
<% end %>
