<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @promotion } %>

<div class="row" id="general_fields" >
  <div class="col-md-3">
    <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label '이름' %>
      <%= f.text_field :name, :class => 'form-control' %>
    <% end %>

    <%= f.field_container :code, class: ['form-group'] do %>
      <%= f.label '코드' %>
      <%= f.text_field :code, :class => 'form-control' %>
    <% end %>

    <%= f.field_container :path, class: ['form-group'] do %>
      <%= f.label '패쓰' %>
      <%= f.text_field :path, :class => 'form-control' %>
    <% end %>

    <%= f.field_container :advertise, class: ['checkbox'] do %>
      <%= f.label :advertise do %>
        <%= f.check_box :advertise %>
        광고여부
      <% end %>
    <% end %>
  </div>

  <div class="col-md-6">
    <%= f.field_container :description, class: ['form-group'] do %>
      <%= f.label '설명' %>
      <%= f.text_area :description, :rows => 7, :class => 'form-control' %>
    <% end %>

    <%= f.field_container :category, class: ['form-group'] do %>
      <%= f.label '프로모션 카테고리' %>
      <%= f.collection_select(:promotion_category_id, @promotion_categories, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2' }) %>
    <% end %>
  </div>

  <div id="expiry_fields" class="col-md-3">
    <%= f.field_container :usage_limit do %>
      <%= f.label '사용제한' %>
      <%= f.number_field :usage_limit, :min => 0, :class => 'form-control' %>
      <p class="help-block">
        현재사용: <%= @promotion.credits_count %>
      </p>
    <% end %>

    <div id="starts_at_field" class="form-group">
      <%= f.label '시작일' %>
      <%= f.text_field :starts_at, :value => datepicker_field_value(@promotion.starts_at), :class => 'datepicker datepicker-from form-control' %>
    </div>

    <div id="expires_at_field" class="form-group">
      <%= f.label '종료일' %>
      <%= f.text_field :expires_at, :value => datepicker_field_value(@promotion.expires_at), :class => 'datepicker datepicker-to form-control' %>
    </div>
  </div>
</div>
