<% content_for :page_title do %>
  프로모션
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to '새 프로모션', new_object_url, :class => "btn-success", :icon => 'add' %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_promotions_index_search">
    <%= search_form_for [:admin, @search] do |f| %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= label_tag :q_name_cont, '이름' %>
            <%= f.text_field :name_cont, tabindex: 1, class: "form-control js-quick-search-target" %>
          </div>

          <div class="form-group">
            <%= label_tag :q_code_cont, '코드' %>
            <%= f.text_field :code_cont, tabindex: 1, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <%= label_tag :q_path_cont, '패쓰' %>
            <%= f.text_field :path_cont, tabindex: 1, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= label_tag :q_promotion_category_id_eq, '프로모션 카테고리' %>
            <%= f.collection_select(:promotion_category_id_eq, @promotion_categories, :id, :name, { :include_blank => Spree.t('match_choices.all') }, { :class => 'select2' }) %>
          </div>
        </div>
      </div>

      <div data-hook="admin_promotions_index_search_buttons" class="form-actions">
        <%= button '검색', 'search' %>
      </div>
    <% end %>
  </div>
<% end %>

<%= paginate @promotions %>

<% if @promotions.any? %>
  <table class="table">
    <thead>
      <tr>
        <th><%= Spree.t(:name) %></th>
        <th><%= Spree.t(:code) %></th>
        <th><%= Spree.t(:description) %></th>
        <th><%= Spree.t(:usage_limit) %></th>
        <th><%= Spree.t(:promotion_uses) %></th>
        <th><%= Spree.t(:expiration) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @promotions.each do |promotion| %>
        <tr id="<%= spree_dom_id promotion %>">
          <td><%= link_to promotion.name, edit_admin_promotion_path(promotion) %></td>
          <td><%= promotion.code %></td>
          <td><%= promotion.description %></td>
          <td><%= promotion.usage_limit.nil? ? "∞" : promotion.usage_limit  %></td>
          <td><%= Spree.t(:current_promotion_usage, :count => promotion.credits_count) %></td>
          <td><%= promotion.expires_at.to_date.to_s(:short_date) if promotion.expires_at %></td>
          <td class="actions actions-2">
            <%= link_to_edit promotion, :no_text => true %>
            <%= link_to_delete promotion, :no_text => true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    프로모션이 없습니다,
    <%= link_to '추가하세요', new_object_url %>.
  </div>
<% end %>
