<% content_for :page_title do %>
  새 프로모션
<% end %>

<%= form_for :promotion, :url => collection_url do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="text-center">
    <%= render :partial => 'spree/admin/shared/new_resource_links' %>
  </div>
<% end %>
