<section class="section">
    
        <div class="container">
            <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @spree_user } %>
        </div>
</section>

<section class="section section-margin" style="min-height: 500px;">
    <div class="container">
        <div class="row">

        	<div class="col-md-6 col-md-offset-3" id="forgot-password">
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h3 class="panel-title"><%= Spree.t(:forgot_password) %></h3>
			    </div>
			    <div class="panel-body">
			      <p><%= Spree.t(:instructions_to_reset_password) %></p>

			      <%= form_for Spree::User.new, :as => :spree_user, :url => spree.reset_password_path do |f| %>
			        <p>
			          <%= f.label :email, Spree.t(:email) %>
			          <%= f.email_field :email, :class => "form-control" %>
			        </p>
			        <p>
			          <%= f.submit Spree.t(:reset_password), :class => 'btn btn-lg btn-success btn-block' %>
			        </p>
			      <% end %>
			    </div>
			  </div>
			</div>
        </div>
    </div>
</section>