<div data-hook="admin_site_form_fields">
  <div class="row">
    <div class="col-md-6">
      <%= f.field_container :name, class: ['form-group'] do %>
        <%= f.label :name, Spree.t(:name) %> <span class="required">*</span>
        <%= f.text_field :name, :class => 'form-control' %>
        <%= f.error_message_on :name %>
      <% end %>
    </div>

    <div class="col-md-6">
      <%= f.field_container :url, class: ['form-group'] do %>
        <%= f.label :url, 'URL' %> <span class="required">*</span>
        <%= f.text_field :url, :class => 'form-control' %>
        <%= f.error_message_on :url %>
      <% end %>
    </div>

  </div>
</div>
