<% content_for :page_title do %>
  사이트
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to '새 사이트', '/admin/sites/new', { :class => "btn-success", :icon => 'add', :id => 'admin_new_site' } %>
<% end if can?(:create, Spree::Product) %>

<% if @sites.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>사이트명</th>
        <th>Url</th>
        <th class="actions" width="100px"></th>
        <th class="actions" width="100px"></th>
        <th class="actions" width="100px"></th>
      </tr>
    </thead>
    <tbody>
      <% @sites.each do |site| %>
        <tr>
          <td><a href="/admin/sites/<%= site.id %>/edit"><%= site.name %></a></td>
          <td><%= site.url %></td>
          <td>
            <a href="<%= new_admin_site_site_url_path(site.id) %>" >사이트 추가</a>
          </td>
          <td><%= link_to '사이트 삭제', [:admin, site], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to '스크랩 실행', scrap_admin_site_path(site), method: :post %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: 'Site') %>,
    <%= link_to Spree.t(:add_one), '/admin/site/new' %>!
  </div>
<% end %>
