<% content_for :page_title do %>
  새 사이트
<% end %>

<%= form_for [:admin, @site] do |f| %>
  <%= render partial: 'form', locals: { f: f }  %>

  <div class="form-actions">
    <div class="form-actions" data-hook="buttons">
      <%= button '저장', 'ok', 'submit', {class: 'btn-success'} %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to '취소', '/admin/sites', :icon => 'remove' %>
    </div>
  </div>

<% end %>
