<% content_for :page_title do %>
  스크랩 이력
<% end %>

<% if @scrap_histories.any? %>
  <table class="table">
    <thead>
      <tr>
        <th width="200px;" align="center">사이트</th>
        <th align="center">결과</th>
        <th width="200px;" align="center">시작시간</th>
        <th width="200px;" align="center">종료시간</th>
        <!-- <th class="actions" width="100px"></th> -->
      </tr>
    </thead>
    <tbody>
      <% @scrap_histories.each do |history| %>
        <tr>
          <td><%= history.site.name %></td>
          <td>
            <% if history.result_status == 0 %>실행중
            <% elsif history.result_status == 1 %>완료
            <% else %>오류
            <% end %>

          </td>
          <td align="center"><%= history.start_date %></td>
          <td align="center"><%= history.end_date %></td>
          <!-- <td></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
<div class="alert alert-info no-objects-found">
  스크랩 이력이 없습니다.
</div>
<% end %>
