<div data-hook="admin_shipping_method_form_fields">
  <div class="row">
    <div data-hook="admin_shipping_method_form_name_field" class="col-md-6">
      <%= f.field_container :name, :class => ['form-group'] do %>
        <%= f.label :name, '이름' %>
        <%= f.text_field :name, :class => 'form-control' %>
        <%= error_message_on :shipping_method, :name %>
      <% end %>
    </div>

    <div data-hook="admin_shipping_method_form_display_field" class="col-md-6">
      <%= f.field_container :display_on, :class => ['form-group'] do %>
        <%= f.label :display_on, '디스플레이' %>
        <%= select(:shipping_method, :display_on, Spree::ShippingMethod::DISPLAY.collect { |display| [Spree.t(display), display == :both ? nil : display.to_s] }, {}, { :class => 'select2' }) %>
        <%= error_message_on :shipping_method, :display_on %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div data-hook="admin_shipping_method_form_internal_name_field" class="col-md-4">
      <%= f.field_container :admin_name, :class => ['form-group'] do %>
        <%= f.label :admin_name, '내부이름' %>
        <%= f.text_field :admin_name, :class => 'form-control', :label => false %>
        <%= error_message_on :shipping_method, :admin_name %>
      <% end %>
    </div>

    <div data-hook="admin_shipping_method_form_code" class="col-md-4">
      <%= f.field_container :code, :class => ['form-group'] do %>
        <%= f.label :code, '코드' %>
        <%= f.text_field :code, :class => 'form-control', :label => false %>
        <%= error_message_on :shipping_method, :code %>
      <% end %>
    </div>

    <div data-hook="admin_shipping_method_form_tracking_url_field" class="col-md-4">
      <%= f.field_container :tracking_url, :class => ['form-group'] do %>
        <%= f.label :tracking_url, '트레킹 URL' %>
        <%= f.text_field :tracking_url, :class => 'form-control', :placeholder => Spree.t(:tracking_url_placeholder) %>
        <%= error_message_on :shipping_method, :tracking_url %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div data-hook="admin_shipping_method_form_availability_fields" class="col-md-6">
    <div class="panel panel-default categories">
      <div class="panel-heading">
        <h1 class="panel-title">
          배송 카테고리
        </h1>
      </div>

      <div class="panel-body">
        <%= f.field_container :categories, :class => ['form-group'] do %>
          <% Spree::ShippingCategory.all.each do |category| %>
            <div class="checkbox">
              <%= label_tag do %>
                <%= check_box_tag('shipping_method[shipping_categories][]', category.id, @shipping_method.shipping_categories.include?(category)) %>
                <%= category.name %>
              <% end %>
            </div>
          <% end %>
          <%= error_message_on :shipping_method, :shipping_category_id %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">
          지역
        </h1>
      </div>

      <div class="panel-body">
        <%= f.field_container :zones, :class => ['form-group'] do %>
          <% shipping_method_zones = @shipping_method.zones.to_a %>
          <% Spree::Zone.all.each do |zone| %>
            <div class="checkbox">
              <%= label_tag do %>
                <%= check_box_tag('shipping_method[zones][]', zone.id, shipping_method_zones.include?(zone)) %>
                <%= zone.name %>
              <% end %>
            </div>
          <% end %>
          <%= error_message_on :shipping_method, :zone_id %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div data-hook="admin_shipping_method_form_calculator_fields" class="col-md-6">
    <%= render :partial => 'spree/admin/shared/calculator_fields', :locals => { :f => f } %>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default tax_categories">
      <div class="panel-heading">
        <h1 class="panel-title">
          세금 카테고리
        </h1>
      </div>

      <div class="panel-body">
        <%= f.field_container :categories, :class => ['form-group'] do %>
          <%= f.select :tax_category_id, @tax_categories.map { |tc| [tc.name, tc.id] }, { include_blank: true }, class: "select2" %>
          <%= error_message_on :shipping_method, :tax_category_id %>
        <% end %>
      </div>
    </div>
  </div>
</div>
