<% content_for :page_title do %>
  배송방법 수정
<% end %>

<div data-hook="admin_shipping_method_edit_form_header">
  <%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @shipping_method } %>
</div>

<div data-hook="admin_shipping_method_edit_form">
  <%= form_for [:admin, @shipping_method] do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div data-hook="admin_shipping_method_edit_form_buttons">
      <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
    </div>
  <% end %>
</div>
