<% content_for :page_title do %>
  배송방법
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to '새 배송방법', new_object_url,  :class => "btn-success", :icon => 'add', :id => 'admin_new_shipping_method_link' %>
<% end if can? :create, Spree::ShippingMethod %>

<% if @shipping_methods.any? %>
  <table class="table" id='listing_shipping_methods'>
    <thead>
      <tr data-hook="admin_shipping_methods_index_headers">
        <th>이름</th>
        <th>지역</th>
        <th>계산</th>
        <th class="text-center">디스플레이</th>
        <th data-hook="admin_shipping_methods_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @shipping_methods.includes(:zones, :calculator).each do |shipping_method|%>
        <tr id="<%= spree_dom_id shipping_method %>" data-hook="admin_shipping_methods_index_rows">
          <td><%= shipping_method.admin_name + ' / ' if shipping_method.admin_name.present? %><%= shipping_method.name %></td>
          <td><%= shipping_method.zones.collect(&:name).join(", ") if shipping_method.zones %></td>
          <td><%= shipping_method.calculator.description %></td>
          <td class="text-center"><%= shipping_method.display_on.blank? ? Spree.t(:both) : Spree.t(shipping_method.display_on) %></td>
          <td data-hook="admin_shipping_methods_index_row_actions" class="actions actions-2 text-right">
            <%= link_to_edit(shipping_method, :no_text => true) if can? :edit, shipping_method %>
            <%= link_to_delete(shipping_method, :no_text => true) if can? :delete, shipping_method %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::ShippingMethod)) %>,
    <%= link_to(Spree.t(:add_one), new_object_url) if can? :create, Spree::PaymentMethod %>!
  </div>
<% end %>
