<% content_for :page_title do %>
  새 배송방법
<% end %>

<div data-hook="admin_shipping_method_new_form_header">
  <%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @shipping_method } %>
</div>

<div data-hook="admin_shipping_method_new_form">
  <%= form_for [:admin, @shipping_method] do |f| %>
    <fieldset>
      <%= render :partial => 'form', :locals => { :f => f } %>

      <div data-hook="admin_shipping_method_new_form_buttons">
        <%= render :partial => 'spree/admin/shared/new_resource_links' %>
      </div>
    </fieldset>
  <% end %>
</div>
