<div class="row">
  <div data-hook="bill_address_wrapper" class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">
          청구주소
        </h1>
      </div>

      <div class="panel-body">
        <%= f.fields_for :bill_address, (@user.bill_address || Spree::Address.default(@user, "bill")) do |ba_form| %>
          <% ba_form.object ||= Spree::Address.new(country: Spree::Country.new) %>
          <%= render :partial => 'spree/admin/shared/address_form', :locals => { :f => ba_form, :type => "billing" } %>
        <% end %>
      </div>
    </div>
  </div>

  <div data-hook="ship_address_wrapper" class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">
          배송주소
        </h1>
      </div>

      <div class="panel-body">
        <%= f.fields_for :ship_address, (@user.ship_address || Spree::Address.default(@user, "ship")) do |sa_form| %>
          <% sa_form.object ||= Spree::Address.new(country: Spree::Country.new) %>
          <%= render :partial => 'spree/admin/shared/address_form', :locals => { :f => sa_form, :type => "shipping" } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
