<div data-hook="admin_user_form_fields" class="row">
  <div class="col-md-6">
    <%= f.field_container :email, class: ['form-group'] do %>
      <%= f.label :email, '이메일' %>
      <%= f.email_field :email, :class => 'form-control' %>
      <%= error_message_on :user, :email %>
    <% end %>

    <div data-hook="admin_user_form_roles" class="form-group">
      <strong>권한</strong>
      <% @roles.each do |role| %>
        <div class="checkbox">
          <%= label_tag "user_spree_role_#{role.name}" do %>
            <%= check_box_tag 'user[spree_role_ids][]', role.id, @user.spree_roles.include?(role), :id => "user_spree_role_#{role.name}" %>
            <%= role.name %>
          <% end %>
        </div>
      <% end %>
      <%= hidden_field_tag 'user[spree_role_ids][]', '' %>
    </div>

  </div>

  <div data-hook="admin_user_form_password_fields" class="col-md-6">
    <%= f.field_container :password, class: ['form-group'] do %>
      <%= f.label :password, '비밀번호' %>
      <%= f.password_field :password, :class => 'form-control' %>
      <%= f.error_message_on :password %>
    <% end %>

    <%= f.field_container :password, class: ['form-group'] do %>
      <%= f.label :password_confirmation, '비밀번호 확인' %>
      <%= f.password_field :password_confirmation, :class => 'form-control' %>
      <%= f.error_message_on :password_confirmation %>
    <% end %>
  </div>
</div>
