<div data-hook="admin_user_lifetime_stats" class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">
      사용자 상태
    </h1>
  </div>

  <table class="table" id="user-lifetime-stats" data-hook>
    <tr>
      <td width="30%">총 주문:</td>
      <td><%= @user.display_lifetime_value.to_html %></td>
    </tr>
    <tr>
      <td>주문건수:</td>
      <td><%= @user.order_count.to_i %></td>
    </tr>
    <tr>
      <td>평균주문금액:</td>
      <td><%= @user.display_average_order_value.to_html %></td>
    </tr>
    <tr>
      <td>최최가입일:</td>
      <td><%= l @user.created_at.to_date %></td>
    </tr>
  </table>
</div>
