<% content_for :sidebar do %>
  <ul class="nav nav-pills nav-stacked" data-hook="admin_user_tab_options">
    <li<%== ' class="active"' if current == :account %>>
      <%= link_to_with_icon 'user', '계정정보', spree.edit_admin_user_path(@user) %>
    </li>
    <li<%== ' class="active"' if current == :address %>>
      <%= link_to_with_icon 'user', '주소', spree.addresses_admin_user_path(@user) %>
    </li>
    <li<%== ' class="active"' if current == :orders %>>
      <%= link_to_with_icon 'shopping-cart', '주문', spree.orders_admin_user_path(@user) %>
    </li>
    <li<%== ' class="active"' if current == :items %>>
      <%= link_to_with_icon 'edit', '주문상품', spree.items_admin_user_path(@user) %>
    </li>
  </ul>
<% end %>
