<% content_for :page_actions do %>
  <%= button_link_to '사용자 리스트로 돌아가기', spree.admin_users_path, class: 'btn-primary', icon: 'chevron-left' %>
  <%= button_link_to '새 주문 생성', spree.new_admin_order_path(user_id: @user.id), class: "btn-success", icon: 'add' %>
<% end %>
