<% content_for :page_title do %>
  <%= link_to "#{@user.email}", edit_admin_user_url(@user) %> / 주문상품
<% end %>

<%= render partial: 'spree/admin/users/sidebar', locals: { current: :items } %>
<%= render partial: 'spree/admin/users/user_page_actions' %>

<fieldset data-hook="admin_user_items_purchased">
  <%= paginate @orders %>

  <% if @orders.any? %>
    <%# TODO add search interface %>
    <table class="table table-condensed table-bordered stock-contents" id="listing_items" data-hook="stock-contents">
      <thead>
        <th><%= sort_link @search, :completed_at, '주문일', {}, {title: 'orders_completed_at_title'} %></th>
        <th colspan=2>주문상품</th>
        <th>가격</th>
        <th>개수</th>
        <th>합계</th>
        <th><%= sort_link @search, :state, '주문상태', {}, {title: 'orders_state_title'} %></th>
        <th><%= sort_link @search, :number, '주문번호', {}, {title: 'orders_number_title'} %></th>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <% order.line_items.each do |item| %>
            <tr class="stock-item" data-item-quantity="<%= item.quantity %>">
              <td class="order-completed-at"><%= l(order.completed_at.to_date) if order.completed_at %></td>
              <td class="item-image">
                <%= mini_image(item.variant) %>
              </td>
              <td class="item-name">
                <%= item.product.name %><br><%= "(" + variant_options(item.variant) + ")" unless item.variant.option_values.empty? %>
                <% if item.variant.sku.present? %>
                  <strong><%= Spree.t(:sku) %>:</strong> <%= item.variant.sku %>
                <% end %>
              </td>
              <td class="item-price"><%= item.single_money.to_html %></td>
              <td class="item-quantity"><%= item.quantity %></td>
              <td class="item-total"><%= item.money.to_html %></td>
              <td class="order-state">
                <div class="state <%= order.state.downcase %>"><%= Spree.t("order_state.#{order.state.downcase}") %></div>
                <% if order.payment_state %>
                  <div class="state <%= order.payment_state %>"><%= link_to Spree.t("payment_states.#{order.payment_state}"), admin_order_payments_path(order) %></div>
                <% end %>
                <% if Spree::Order.checkout_step_names.include?(:delivery) && order.shipment_state %>
                  <div class="state <%= order.shipment_state %>"><%= Spree.t("shipment_states.#{order.shipment_state}") %></div>
                <% end %>
              </td>
              <td class="order-number"><%= link_to order.number, edit_admin_order_url(order) %></td>
            </tr>
          <% end %>
        <% end %>
    </table>
  <% else %>
    <div class="alert alert-info no-objects-found">
      <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Order)) %>,
      <%= link_to Spree.t(:add_one), spree.new_admin_order_path %>!
    </div>
  <% end %>
  <%= paginate @orders %>
</fieldset>

<%= render 'spree/admin/users/lifetime_stats' %>
