<% content_for :page_title do %>
   새 사이트 Urls ( <%= @site.url %> )
<% end %>
<%= form_for [:admin, @site, @site_url] do |f| %>
<div data-hook="admin_site_url_form_fields">
  <div class="row">
    <div class="col-md-6">
      <%= f.field_container :taxon_id, class: ['form-group field'] do %>
        <%= f.label :taxon_id, '카테고리' %> <span class="required">*</span><br/>
        <select name="site_url[taxon_id]">
            <option value="">select</option>
          <% Spree::Taxon.all.each do |taxon| %>
            <option value="<%= taxon.id %>"><%= (taxon.ancestors.pluck(:name) + [taxon.name]).join(" -> ") %></option>
          <% end %>
        </select>
      <% end %>
    </div>
  </div>
  <div class="row">

    <div class="col-md-6">
      <%= f.field_container :url, class: ['form-group'] do %>
        <%= f.label :url, 'URL' %> <span class="required">*</span>
        <%= f.text_field :url, :class => 'form-control' %>
        <%= f.error_message_on :url %>
      <% end %>
    </div>
  </div>
</div>

<div class="form-actions">
  <div class="form-actions" data-hook="buttons">
    <%= button '저장', 'ok', 'submit', {class: 'btn-success'} %>
    <%= button_link_to '취소', '/admin/sites', :icon => 'remove' %>
  </div>
</div>
<% end %>

<br/><br/>
<table class="table">
  <thead>
    <tr>
      <th>카테고리</th>
      <th>Url</th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
<% if @site_urls.any? %>
  <% @site_urls.each do |url| %>
    <% taxon = Spree::Taxon.find(url.taxon_id) %>
    <tr>
      <td><%= (taxon.ancestors.pluck(:name) + [taxon.name]).join(" -> ") %></td>
      <td><%= url.url %></td>
      <td><%= link_to 'Delete', [:admin, @site, url], method: :delete, data: { confirm: 'Are you sure?' }  %></td>
    </tr>
  <% end %>



<% else %>
  <tr>
    <td colspan="3" align="center">Not found site urls</td>
  </tr>
<% end %>
</tbody>
</table>
