<% content_for :page_title do %>
  레포트
<% end %>

<table class="table">
  <thead>
    <tr data-hook="reports_header">
      <th>이름</th>
      <th>설명</th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |key, value| %>
    <tr data-hook="reports_row">
      <td><%= link_to '판매 레포트', send("#{key}_admin_reports_url".to_sym) %></td>
      <td>모든 주문건에 대한 판매 레포트<%#= value[:description] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
