<% content_for :page_title do %>
  판매레포트
<% end %>

<% content_for :page_actions do %>
  <%= link_to_with_icon 'arrow-left', '레포트리스트로 가기', spree.admin_reports_url, class: 'btn btn-default' %>
<% end %>

<div class="well">
  <%= render :partial => 'spree/admin/shared/report_order_criteria' %>
</div>

<table class="table table-bordered admin-report" data-hook="sales_total">
  <thead>
    <tr>
      <th>통화</th>
      <th>품목 합계</th>
      <th>조정 합계</th>
      <th>판매 합계</th>
    </tr>
  </thead>
  <tbody>
    <% @totals.each do |key, row| %>
      <tr>
        <td><%= key %></td>
        <td><%= row[:item_total].format %></td>
        <td><%= row[:adjustment_total].format %></td>
        <td><%= row[:sales_total].format %></td>
      </tr>
    <% end %>
  </tbody>
</table>
