

<div class="row">
  <div class="col-md-12">
    <div>
      <h5>YOUR RATING</h5>
    </div>
    <%= form_for review, url: product_reviews_path(product), html: { method: :post } do |f| %>
      <%#= render 'spree/shared/error_messages', target: review %>

      <%# content_for :review_error do %>

          <%#= render 'spree/shared/review_error_messages', target: review %>
      <%# end %>

      <div class="form-group">

        <%= render 'spree/reviews/stars', stars: review.rating, edit_enabled: true %>
      </div>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, maxlength: 255, size: 50, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, maxlength: 255, size: 50, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :review %>
        <%= f.text_area :review, wrap: 'virtual', rows: 10, cols: 50, class: 'form-control' %>
      </div>

      <% if Spree::Reviews::Config[:show_identifier] %>
        <div class="checkbox">
          <%= f.label :show_identifier do %>
            <%= f.check_box :show_identifier, checked: true %>
            <%= Spree::Review.human_attribute_name(:show_identifier) %>
          <% end %>
        </div>
      <% end %>

      <div class="form-actions">
        <%= f.submit Spree.t(:submit_your_review), class: 'button-1 button-medium' %>
      </div>
    <% end %>
  </div>
</div>
