<%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>

<ul class="cart-table">
    <li>
        <div class="col-lg-6 col-sm-6 col-xs-12">Products</div>
        <div class="col-lg-2 col-sm-2 col-xs-12">Price</div>
        <div class="col-lg-2 col-sm-2 col-xs-12">Quantity</div>
        <div class="col-lg-2 col-sm-2 col-xs-12">Total</div>
    </li>
    
    <%= render partial: 'spree/orders/line_item', collection: order_form.object.line_items, locals: { order_form: order_form } %>
    
    <li class="item total">
    	<div class="col-lg-1 col-sm-1 col-xs-2"></div>
    	<div class="col-lg-5 col-sm-5 col-xs-10"></div>
    	<div class="col-lg-2 col-sm-2 col-xs-12"></div>
    	<div class="col-lg-2 col-sm-2 col-xs-12">Cart Total</div>
    	<div class="col-lg-2 col-sm-2 col-xs-12"><%= order_form.object.display_total %></div>
    </li>
 
</ul>
