<% variant = line_item.variant %>
<%= order_form.fields_for :line_items, line_item do |item_form| %>
<li class="item line_item">
    <div class="col-lg-1 col-sm-1 col-xs-2 cart-item-delete" data-hook="cart_item_delete">
       <%= link_to content_tag(:span, 'x'), '#', class: 'delete', id: "delete_#{dom_id(line_item)}" %>
    </div>
    <div class="col-lg-5 col-sm-5 col-xs-10">
        <div>
            <% if variant.images.length == 0 %>
                <%= link_to small_image(variant.product), variant.product %>
            <% else %>
                <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
            <% end %>
        </div>
        <div class="shop-item-label">
            <h5><%= link_to line_item.name, product_path(variant.product) %></h5>
            <div class="rating">
                <%= variant.options_text %>
                <% if line_item.insufficient_stock? %>
                    <span class="out-of-stock">
                        <%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;<br />
                    </span>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-2 col-xs-12"><%= line_item.single_money.to_html %></div>
    <div class="col-lg-2 col-sm-2 col-xs-12">
        <div class="ammount">

            <button>-</button>
            <%= item_form.text_field :quantity, min: 0, class: "line_item_quantity",  size: 5 %>
            <button>+</button>
        </div>
    </div>
    <div class="col-lg-2 col-sm-2 col-xs-12"> <%= line_item.display_amount.to_html unless line_item.quantity.nil? %></div>
</li>
<% end %>
