
<% @body_id = 'cart' %>
<section class="section-bar-1">
    <div class="container">
        <div class="callout-box-1">
            <div class="box-text">
                <h3><%= Spree.t(:shopping_cart) %></h3>
            </div>
            <div class="box-text-2">
                <output>Home/Shop/Cart</output>
            </div>
        </div>
    </div>
</section>


<section class="section section-margin">
    <div class="container" style="min-height: 500px;">

    <% if @order.line_items.empty? %>
        <div class="row">
            <div class="col-xs-12">
                <div class="message message-info">
                    <i class="fa fa-info"></i>
                    <%= Spree.t(:your_cart_is_empty) %>
                </div>
                <p><%= link_to Spree.t(:continue_shopping), products_path, class: 'btn btn-default' %></p>
            </div>
            </div>
          
        </div>
    <% else %>
        <%= form_for @order, url: update_cart_path, html: { id: 'update-cart' } do |order_form| %>
            <div class="row">
                <div class="col-md-12">
                    <%= render partial: 'form', locals: { order_form: order_form } %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    
                  <!--   <a href="#" class="button-3 button-round button-small push-right">PROCEED TO CHECKOUT</a>
                    <a href="#" class="button-3 button-round button-small push-right">UPDATE CART</a> -->
                    <%= button_tag class: 'button-3 button-small push-right',  id: 'update-button' do %>
                        <%= Spree.t(:update) %>
                    <% end %>
                    <%= button_tag class: 'button-3 button-small push-right',  id: 'checkout-link', name: 'checkout' do %>
                        <%= Spree.t(:checkout) %>
                    <% end %>
                </div>
            </div>
        <% end %>
        <div id="empty-cart" class="row" data-hook>
            <%= form_tag empty_cart_path, method: :put do %>
                <p id="clear_cart_link" data-hook>
                    <%= submit_tag Spree.t(:empty_cart), class: 'button-3' %>
                    <%= Spree.t(:or) %>
                    <%= link_to Spree.t(:continue_shopping), products_path, class: 'continue' %>
                </p>
            <% end %>
        </div>
        <% end %>
       <!--  <div class="row">
            <div class="col-lg-7 col-sm-7 hidden-xs"><div class="empty"></div></div>
            <div class="col-lg-5 col-sm-5 col-xs-12">
                <div class="shop-item-label">
                    <h5>Cart Totals</h5>
                </div>
                <ul class="pricing-table table-2-col">
                    <li class="top-border nopad"><span>Cart Subtotal:</span><span>$ 349,99</span></li>
                    <li class="nopad"><span>Shipping:</span><span>Free Shipping</span></li>
                    <li class="nopad"><span>Total</span><span>$ 349,99</span></li>
                </ul>
            </div>
        </div> -->
    </div>
</section>
  