<% content_for :google_analytics do %>
  <% if order_just_completed?(@order) %>
    <%= render partial: 'spree/shared/google_purchase.js', locals: { order: @order } %>
  <% end %>
<% end %>

<section class="section section-margin" style="min-height: 500px;">
  <div class="container">
      <div class="row">

        <div class="col-md-12">
          <legend><%= Spree.t(:order_number, number: @order.number) %></legend>
        </div>
        
        <!-- <h1><%= accurate_title %></h1> -->
      </div>
      <div class="row">
        
        <% if order_just_completed?(@order) %>
          <div class="col-md-12">
            <strong><%= Spree.t(:thank_you_for_your_order) %></strong>
          </div>
        <% end %>
      </div>

      <%= render partial: 'spree/shared/order_details', locals: { order: @order } %>

   
  </div>
</section>
