<div data-hook="admin_relation_type_form_fields" class="row">
  <div class="col-md-12">
    <div data-hook="name" class="form-group">
      <%= f.label :name, '이름' %> <span class="required">*</span>
      <%= f.text_field :name, class: 'form-control' %>
      <%= error_message_on :relation_type, :name %>
    </div>
    <div data-hook="applies_to" class="form-group">
      <%= f.label :applies_to, '적용모델' %> <span class="required">*</span>
      <%= f.text_field :applies_to, value: f.object.nil? ? 'Spree::Product' : f.object.applies_to, class: 'form-control' %>
      <%= error_message_on :relation_type, :applies_to %>
    </div>
    <div data-hook="description" class="form-group">
      <%= f.label :description, '설명' %><br />
      <%= f.text_area :description, rows: 4, class: 'form-control' %>
      <%= error_message_on :relation_type, :description %>
    </div>
  </div>
</div>
