<% content_for :page_title do %>
  새 연관상품 타입
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to '연관상품 리스트로 가기', spree.admin_relation_types_path, class: 'btn-primary', icon: 'arrow-left' %>
<% end %>

<%= form_for :relation_type, url: collection_url do |f| %>
  <fieldset>
    <%= render 'form', f: f %>
    <%= render 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>
