
<%= form_for :order, :url => populate_orders_path, :html => {:class => 'ammount'} do |f| %>
<div class="col-lg-7 col-sm-7 col-xs-12" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <div class="shop-item-label big">
      <h5><%= @product.name %></h5>
      <% if @product.price_in(current_currency) and !@product.price.nil? %>
        <div>
          <span class="lead price selling" itemprop="price">
            <%= display_price(@product) %>
          </span>
          <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
        </div>
      <% else %>
        <div><span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span></div>
      <% end %>

      <% if @product.master.can_supply? %>
        <link itemprop="availability" href="http://schema.org/InStock" />
      <% elsif @product.variants.empty? %>
        <br />
        <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
      <% end %>

      <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
          <p>(3 customers reviews)</p>
      </div>
      <!-- <ul class="listbox listbox-2">
          <li><i class="fa fa-circle"></i> 100% Polyester</li>
          <li><i class="fa fa-circle"></i> Elegant desig & color</li>
          <li><i class="fa fa-circle"></i> Regular fit</li>
      </ul> -->
      <div>
          <p><%#= product_description(@product) rescue Spree.t(:product_has_no_description) %></p>
      </div>


      <% if @product.variants_and_option_values(current_currency).any? %>
      <div id="product-variants" class="col-md-6">
        <h3 class="product-section-title"><%= Spree.t(:variants) %></h3>
        <ul class="list-group">
          <% @product.variants_and_option_values(current_currency).each_with_index do |variant, index| %>
            <li>
              <%= radio_button_tag "variant_id", variant.id, index == 0, 'data-price' => variant.price_in(current_currency).money  %>
              <%= label_tag "variant_id_#{ variant.id }" do %>
                <span class="variant-description">
                  <%= variant_options variant %>
                </span>
                <% if variant_price variant %>
                  <span class="price diff"><%= variant_price variant %></span>
                <% end %>
                <% unless variant.can_supply? %>
                  <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
                <% end %>
              <% end %>
            </li>
          <% end%>
        </ul>
      </div>
    <% else %>
      <%= hidden_field_tag "variant_id", @product.master.id %>
    <% end %>



      <div>
        <!--   <form class="ammount"> -->
              <button>-</button>
              <input type="text" name="ammount" value="1"/>
              <button>+</button>
              <input type="submit" value="ADD TO CART" class="button-3 button-round button-small"/>
          <!-- </form> -->
      </div>
   
    </div>
 </div>
 <% end %>
