<% stars = @product.stars  %>

<%= form_for :order, :url => populate_orders_path do |f| %>
  <div  id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <input type="hidden" name="collection_owner_id" value="<%= params[:uid] %>">
    <div class="shop-item-label big">
      <h5><%= @product.name %></h5>
      <div class="rating" >

        <%= render 'spree/shared/rating', product: @product, review: 0 %>
          <!-- <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i> -->

      </div>



    </div>

    <% if @product.variants_and_option_values(current_currency).any? %>
      <div id="product-variants">
        <h3 class="product-section-title"><%= Spree.t(:variants) %></h3>
        <ul class="list-group">
          <% @product.variants_and_option_values(current_currency).each_with_index do |variant, index| %>
            <li>
              <%= radio_button_tag "variant_id", variant.id, index == 0, 'data-price' => variant.price_in(current_currency).money  %>
              <%= label_tag "variant_id_#{ variant.id }" do %>
                <span class="variant-description">
                  <%= variant_options variant %>
                </span>
                <% if variant_price variant %>
                  <span class="price diff"><%= variant_price variant %></span>
                <% end %>
                <% unless variant.can_supply? %>
                  <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
                <% end %>
              <% end %>
            </li>
          <% end%>
        </ul>
      </div>
    <% else %>
      <%= hidden_field_tag "variant_id", @product.master.id %>
    <% end %>

    <% if @product.price_in(current_currency) and !@product.price.nil? %>
      <div data-hook="product_price">
        <div id="product-price">
          <h6 class="product-section-title"><%= Spree.t(:price) %>:</h6>
          <div class="shop-item-label big">
            <span class="lead price selling" itemprop="price">
              <%= display_price(@product) %>
            </span>
            <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
          </div>

          <% if @product.master.can_supply? %>
            <link itemprop="availability" href="http://schema.org/InStock" />
          <% elsif @product.variants.empty? %>
            <br />
            <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
          <% end %>
        </div>

        <div class="add-to-cart">
          <br/>
          <div class="input-group">



            <span class="shop-ammount">

              <button style="margin-top: 10px;" type="button" class="ammount-button">-</button>
              <input type="text" name="quantity" value="1" style="margin-top: 10px;"/>
              <button style="margin-top: 10px;" type="button" class="ammount-button">+</button>
            </span>
              <%= button_tag :class => 'button-1 button-medium', :style => 'font-size: 12px;', :id => 'add-to-cart-button', :type => :submit do %>
                <i class="fa fa-shopping-cart" style="padding-right: 10px;"></i><%= Spree.t(:add_to_cart) %>
              <% end %>

              <!-- <input type="submit" value="ADD TO CART" class="button-3 button-round button-small"/> -->

          </div>
          <%# if spree_current_user %>
            <div style="margin-left: 90px;">
              <input type="hidden" id="current_user" value="<%= spree_current_user %>">
              <%= button_tag :class => 'button-1 button-medium', :style => 'font-size: 12px;', :id => 'collection_add_btn',  :type => :button do %>
                <i class="fa fa-th-large" style="padding-right: 10px;"></i>Add To Collection
              <% end %>
            </div>
          <%# end %>
        </div>
      </div>
    <% else %>
      <div id="product-price">
        <br>
        <div><span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span></div>
      </div>
    <% end %>
  </div>
<% end %>
<%= button_to "collection", "/collections", remote: true, params: {id: @product.id}, :style => 'display:none;', :id => 'collection_add_submit' %>
