<section id="featured-products" class="widget widget-featured-products">
    <h5>FEATURED PRODUCTS</h5>
    <ul>
      <%
        if Rails.env == 'development'
          @random_featured_products = Spree::Product.only_featured.order("RANDOM()").limit(4)
        else
          @random_featured_products = Spree::Product.only_featured.order("RAND()").limit(4)
        end
      %>
      <% @random_featured_products.each do |product| %>
        <li>
            <div class="whitefade">
              <a href="<%= spree.product_url(product) %>">
                <%= product_image(product) %>
                <!-- <img src="http://placehold.it/50x63" alt=""/> -->
              </a>
            </div>
            <div class="shop-item-label">
                <h5><a href="<%= spree.product_url(product) %>"><%= product.name %></a></h5>
                <span><%= display_price(product) %></span>
                <div class="rating">
                  <%= render 'spree/shared/side_rating', product: product, review: 0 %>

                </div>
            </div>
        </li>
        <% end %>

    </ul>
</section>
