<% if @product.related_products.any? %>
<div class="row">
    <div class="col-md-12">
        <div class="">
            <h5>RELATED PROJECTS</h5>
        </div>
    </div>
    <div class="lowerpad blog-margin-top">
        <% @product.related_products.limit(3).each do |related_product| %>
          <% url = spree.product_url(related_product, taxon_id: @taxon.try(:id)) %>
          <div class="col-lg-4 col-sm-4 col-xs-12">
             <div class="isotope-info">
                <%= large_image(related_product, itemprop: "image", class: "img-responsive") %>
                 <!-- <img class="img-responsive" src="http://placehold.it/550x690" alt=""/> -->
                 <div class="hover-info">
                     <a href="<%= url %>" class="bg-button"></a>
                     <!-- <a href="#" class="fg-button button-3 button-round button-small">ADD TO CART</a> -->
                 </div>
             </div>
             <div class="shop-item-label">
                 <h5><%= link_to truncate(related_product.name, length: 50), url, itemprop: "name", title: related_product.name %></h5>
                 <span><%= display_price(related_product) %></span>
             </div>
         </div>
       <% end %>


    </div>
</div>
<% end %>
