<% @product.reviews.each do |review| %>
<li class="comment">
    <div class="infobox-2">
        <div class="infobox-text-5">
            <div class="rating">
                <h6><a href="#"><%= review.name %></a></h6>
                <!-- <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i> -->
                <%= render 'spree/reviews/stars', stars: review.rating %>
                <%#= render 'spree/shared/rating', product: @product, review: 0 %>
            </div>
            <!-- <span>24 April, 2015 at 19:32</span> -->
            <span><%= review.created_at.strftime("%Y-%m-%d") %></span>
            <p><%= review.review %></p>
        </div>
    </div>
    <img src="http://placehold.it/360x360" alt=""/>
</li>
<% end %>
