<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>

<aside class="col-md-3 sidebar sidebar-right">
    <!-- <section id="categories" class="widget widget-categories">
        <% @taxonomies.each do |taxonomy| %>
            <% cache [I18n.locale, taxonomy, max_level] do %>
                <h5><%= taxonomy.name.upcase %></h5>
                <ul>
                    <% taxonomy.root.children.map do |taxon| %>
                        <li><h6><%= link_to(taxon.name, seo_url(taxon)) + taxons_tree(taxon, @taxon, max_level - 1) %></h6></li>
                    <% end %>

                </ul>
                <br/>
            <% end %>
        <% end %>
    </section> -->

    <%# if ("spree/products" == params[:controller] || "spree/home" == params[:controller]) && "index" == params[:action] %>
    <% unless (params[:controller] == "spree/products" &&  params[:action] == "show") %>
      <%= render :partial => 'spree/shared/filters' %>
    <% end %>
    <%# end %>

    <%= render 'spree/products/featured_products' %>


</aside>
