<% review_partial = render 'spree/reviews/form', review: @review, product: @product %>
<% reviews_count = @product.reviews.count %>


<section class="section-bar-1">
    <div class="container">
        <div class="callout-box-1">
            <div class="box-text">
                <h3>Shop Single</h3>
            </div>
            <div class="box-text-2">
                <output>Home/Shop/Shop Single</output>
            </div>
        </div>
    </div>
</section>
<section class="section section-margin">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <%#= yield :review_error %>
                <%= flash_messages %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 subpage subpage-left">
                <div class="row lowerpad">
                    <div class="col-lg-5 col-sm-5 col-xs-12">
                        <div class="sp-wrap">
                            <% @product.images.each do |i| %>
                                <%= link_to(image_tag(i.attachment.url(:large), class: "thumbnail"), i.attachment.url(:large)) %>
                            <% end %>
                        </div>
                    </div>

                    <div class="col-lg-7 col-sm-7 col-xs-12">
                        <div id="cart-form" data-hook="cart_form">
                            <%= render :partial => 'spree/products/cart_form' %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="table" class="select-table table-h table-3">
                            <nav>
                                <ul>
                                    <li class="active"><a href="#description">Description</a></li>
                                    <li><a href="#additioal_information">Additional Information</a></li>
                                    <li><a href="#reviews">Reviews(<%= reviews_count %>)</a></li>
                                </ul>
                            </nav>
                            <ul>
                                <li id="description" class="active">
                                    <h5>Product Description</h5>
                                    <p><%= product_description(@product) rescue Spree.t(:product_has_no_description) %></p>
                                </li>
                                <li id="additioal_information">
                                    <ul class="pricing-table table-2-col">
                                        <% @product_properties.each_with_index do |product_property, i| %>
                                            <% if i == 0 %><li class="border"><% else %><li class="bottom-border"><% end %>
                                            <span><%= product_property.property.presentation %></span><span><%= product_property.value %></span></li>
                                        <% end %>
                                    </ul>
                                </li>
                                <li id="reviews">
                                    <h5><%= reviews_count %> reviews for <%= @product.name %></h5>
                                    <ul class="comments">
                                        <%= render 'spree/products/review_comments' %>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <%= review_partial %>
                <!-- <div class="row">
                    <div class="col-md-12">
                        <div>
                            <h5>YOUR RATING</h5>
                            <div class="form-rate">
                                <ul>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></a></li>
                                </ul>
                            </div>
                            <form id="form-rate" class="form" method="post">
                                <input type="hidden" name="rating"/>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><input type="text" name="name" placeholder="YOUR NAME"/></div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><input type="email" name="email" placeholder="YOUR EMAIL"/></div>
                                <div class="col-md-12"><textarea name="message" placeholder="MESSAGE" rows="10"></textarea></div>
                                <div class="col-md-12"><input  type="submit" value="SEND REVIEW"/></div>
                            </form>
                            <div id="success-message" class="center col-md-12"><output>Message has been sent</output></div>
                            <div id="error-message" class="center col-md-12"><output>Error</output></div>
                        </div>
                    </div>
                </div> -->
                <%= render 'spree/products/related_products' %>
            </div>
            <%= render 'spree/products/sidebar' %>
        </div>
    </div>
</section>
