<%# Link to the "Next" page
  - available local variables
    url:           url to the next page
    current_page:  a page object for the currently displayed page
    num_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<% unless current_page.last? %>
  <li class="next_page">
    <%= link_to_unless current_page.last?, raw('<i class="fa fa-angle-right"></i>'), url, :rel => 'next', :remote => remote %>
  </li>
<% end %>
