<% content_for :page_title do %>
  배송 카테고리
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to '새 배송 카테고리', new_object_url, :class => "btn-success", :icon => 'add' %>
<% end if can? :create, Spree::ShippingCategory %>

<% if @shipping_categories.any? %>
  <table class="table">
    <thead>
      <tr data-hook="categories_header">
        <th>이름</th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @shipping_categories.each do |shipping_category|%>
      <tr id="<%= spree_dom_id shipping_category %>" data-hook="category_row">
        <td><%= shipping_category.name %></td>
        <td class="actions actions-2 text-right">
          <%= link_to_edit(shipping_category, :no_text => true) if can? :edit, shipping_category %>
          <%= link_to_delete(shipping_category, :no_text => true) if can? :edit, shipping_category %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::ShippingCategory)) %>,
    <%= link_to(Spree.t(:add_one), new_object_url) if can? :create, Spree::ShippingCategory %>!
  </div>
<% end %>
