<% content_for :page_title do %>
  새 배송 카테고리
<% end %>

<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @shipping_category } %>

<%= form_for [:admin, @shipping_category] do |f| %>
  <fieldset>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>
