<div class="panel-heading">
  <h3 class="panel-title">주문 조정</h3>
</div>

<table class="table table-bordered adjustments" data-hook="adjustments">
  <thead data-hook="adjustmment_head">
    <tr>
      <th>아이템</th>
      <th>설명</th>
      <th class="text-center">수량</th>
      <th class="text-center">상태</th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "adjustment", collection: @adjustments %>
  </tbody>
</table>

<% if can?(:edit, Spree::Adjustment) %>
  <div class="panel-footer">
    <div class="row text-center">
      <div class="col-md-6">
        <%= button_to '모든 조정 열기', open_adjustments_admin_order_path(@order), method: :get, class: "btn btn-success" %>
      </div>
      <div class="col-md-6">
        <%= button_to '모든 조정 닫기', close_adjustments_admin_order_path(@order), method: :get, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
<% end %>
