<div data-hook="admin_adjustment_form_fields">
  <%= f.field_container :amount, class: ['form-group'] do %>
    <%= f.label :amount, raw('수량' + content_tag(:span, " *", :class => "required")) %>
    <%= text_field :adjustment, :amount, :class => 'form-control' %>
    <%= f.error_message_on :amount %>
  <% end %>
  <%= f.field_container :label, class: ['form-group'] do %>
    <%= f.label :label, raw('설명' + content_tag(:span, " *", :class => "required")) %>
    <%= text_field :adjustment, :label, :class => 'form-control' %>
    <%= f.error_message_on :label %>
  <% end %>
</div>
