<%= render partial: 'spree/admin/shared/order_tabs', locals: { current: :adjustments } %>

<% content_for :page_title do %>
  / 조정 수정
<% end %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @adjustment } %>

<%= form_for @adjustment, url: admin_order_adjustment_path(@order, @adjustment), method: :put do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>

    <div class="form-actions" data-hook="buttons">
      <%= button '계속', 'save' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to '취소', spree.admin_order_adjustments_url(@order), icon: 'delete' %>
    </div>
  </fieldset>
<% end %>
