
#product-details .price.unselected {
  color: #bbb;
}
.variant-option-type {
  margin-bottom: 0;
}
#product-variants ul.variant-option-values {
  list-style-type: none;
  margin-bottom: 1em;
}
.variant-option-values li {
  display: block;
  position: relative;
  float: left;
}
.variant-option-values li a {
  display: block;
  background-color: #f9f9f9;
  border: 2px solid #eee;
  padding: 2px 9px;
  margin: 3px 3px 0 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.variant-option-values li.clear {
  border: 0;
  float: none;
  clear: both;
}

div.variant-options a.clear-button {
  display: none;
  font-weight: bold;
  background-color: #fff;
  border-color: #FDE2E2;
  color: #c00e0e;
  vertical-align: middle;
  margin-left: 5px;
  line-height: normal;
  font-size: 12px;
}

.variant-option-values li a.option-value {
  padding: 1em;
  margin-right: 0.3em;
  font-size: 1.5em;
}

.option-value.selected,
.option-value.in-stock:hover {
  background-color: #1491EB;
  border-color: #1072B9;
  color: #fff;
}
.option-value.out-of-stock {
  display: block;
  background: transparent url(<%= asset_path "frontend/out-of-stock.png" %>) 0 0 repeat;
  color: #aaa;
  cursor: default;
}
.option-value.locked,
.option-value.locked:hover {
  background-color: #fff;
  border-color: #f0f0f0;
  color: #ddd;
  cursor: default;
}
.option-value.locked img {
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

h6.variant-option-type strong.selection {
  vertical-align: middle;
  color: #1491EB;
}

h6.variant-option-type strong.selection.out-of-stock {
  background: none;
  text-decoration: line-through;
  cursor: default;
}

.variant-option-type label {
  display: inline-block;
}