<section class="section section-margin" style="min-height: 600px;">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="full-width center">
                    <!-- <span class="header">404</span> -->
                    <span class="info">사이트 스크랩이 완료되었습니다.</span>
                    <span class="hint">관리자가 스크랩 내용을 확인 후 이메일로 연락드리겠습니다.</span>
                    <div class="callout-button2">
                        <a href="/">Greepin 둘러보기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
