<style>
.six-sec-ease-in-out {
  -webkit-transition: width 6s ease-in-out;
  -moz-transition: width 6s ease-in-out;
  -ms-transition: width 6s ease-in-out;
  -o-transition: width 6s ease-in-out;
  transition: width 6s ease-in-out;
}

</style>
<section class="section section-margin">
    <div class="container">
        <div class="row">
            <div class="col-md-9 subpage subpage-left">
                <article class="blog">
                    <header>
                        <h3>사이트 등록 접수</h3>
                    </header>

                    <p>사이트를 등록하시고 스크랩과정이 끝나면 결과 확인 후 등록하신 이메일로 결과를 알려드립니다.</p>
                    <div style="margin-top: 50px;">
                      <%= form_for @site_regist, :url => '/site_regist', :html => {:class => 'well'} do |f| %>
                        <div class="form-group">
                          <label for="exampleInputEmail1">이메일</label>
                          <%= f.text_field :email, :class => 'form-control', :placeholder => '이메일' %>
                          <!-- <input type="text" class="form-control" id="exampleInputEmail1" placeholder="이메일"> -->
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">URL</label>
                          <%= f.text_field :url, :class => 'form-control', :placeholder => 'URL' %>
                          <!-- <input type="text" class="form-control" id="exampleInputPassword1" placeholder="URL"> -->
                        </div>
                        <div class="form-group">
                          <label for="exampleInputFile">설명</label>
                          <%= f.text_area :description, :class => 'form-control', :row => 3, :placeholder => '설명' %>
                          <!-- <textarea class="form-control" rows="3"></textarea> -->
                        </div>

                        <button type="button" class="btn btn-default" onclick="javascript: process();">등록</button>
                        <button tyle="submit" id="submit_btn" style="display:none;">submit</button>

                      <% end %>
                    </div>



                </article>

            </div>

        </div>
    </div>
</section>


<script>
function process() {

  var email = $('#site_regist_email').val();
  var url = $('#site_regist_url').val();

  if(email == "") {
    alert("이메일을 입력해 주세요.");
    return;
  }else if(url == "") {
    alert("URL을 입력해주세요.");
    return;
  }



  var $html = $('<div class="progress">');
  $html.append('<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">');
  $html.append('<span class="sr-only">45% Complete</span>')
  $html.append('</div></div>')

  var $progress = $('<div class="progress">');
  $progress.append('<div class="progress-bar progress-bar-info six-sec-ease-in-out" role="progressbar" data-transitiongoal="100"></div>');
  $progress.append('</div>')

  var dialog = new BootstrapDialog({
    title: '사이트를 스크랩중입니다. <br>스크랩중에 브라우저를 종료하거나 새로고침을 하지 마세요.',
    message: $progress,
    closable: false,
    onshown: function(dialogRef){
      $('.progress .progress-bar').progressbar({
        display_text: 'fill',
        done: function() {
          setTimeout(function() { dialog.close(); }, 1000)
          $('#submit_btn').click();
        }
      });
    }
  });

  dialog.open();




}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
