<% content_for :page_title do %>
  옵션 타입 수정 <span class="green">"<%= @option_type.name %>"</span>
<% end %>

<% content_for :page_actions do %>
  <span id="new_add_option_value" data-hook>
    <%= button_link_to '새 옵션값', "javascript:;", { :icon => 'add', :'data-target' => "tbody#option_values", :class => 'btn-success spree_add_fields' } %>
  </span>
<% end %>

<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @option_type } %>

<%= form_for [:admin, @option_type] do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">
        옵션값
      </h1>
    </div>
    <div class="panel-body">
      <%= render :partial => 'form', :locals => { :f => f } %>
    </div>
    <table class="table table-condensed table-bordered sortable" data-hook data-sortable-link="<%= update_values_positions_admin_option_types_url %>">
      <thead data-hook="option_header">
        <tr>
          <th colspan="2">이름 <span class="required">*</span></th>
          <th>디스플레이 <span class="required">*</span></th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody id="option_values">
        <% if @option_type.option_values.empty? %>
          <tr id="none" data-hook="option_none">
            <td colspan="2"><%= Spree.t(:none) %></td>
            <td class="actions text-center"></td>
          </tr>
        <% else %>
          <%= f.fields_for :option_values do |option_value_form| %>
            <%= render :partial => 'option_value_fields', :locals => { :f => option_value_form } %>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div class="panel-footer text-center">
      <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
    </div>
  </div>
<% end %>
