<% content_for :page_title do %>
  옵션 타입
<% end %>

<% content_for :page_actions do %>
  <span id="new_ot_link">
    <%= button_link_to '새 옵션타입', new_object_url, { class: "btn-success", icon: 'add', id: 'new_option_type_link' } %>
  </span>
<% end %>

<div id="new_option_type"></div>

<% if @option_types.any? %>
<table class="table sortable" id="listing_option_types" data-hook data-sortable-link="<%= update_positions_admin_option_types_url %>">
  <thead>
    <tr data-hook="option_header">
      <th class="no-border"></th>
      <th>이름</th>
      <th>프리젠테이션</th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @option_types.each do |option_type| %>
      <tr class="spree_option_type <%= cycle('odd', 'even')%>" id="<%= spree_dom_id option_type %>" data-hook="option_row">
        <td class="move-handle text-center">
          <span class="icon icon-move handle"></span>
        </td>
        <td><%= option_type.name %></td>
        <td class="presentation"><%= option_type.presentation %></td>
        <td class="actions actions-2 text-right">
          <%= link_to_edit(option_type, class: 'admin_edit_option_type', no_text: true) %>
          <%= link_to_delete(option_type, no_text: true) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::OptionType)) %>,
    <%= link_to Spree.t(:add_one), new_object_url %>!
  </div>
<% end %>
