<%= render partial: 'spree/admin/shared/order_tabs', locals: { current: :customer_details } %>

<% content_for :page_title do %>
  / 고객상세정보
<% end %>

<% if can? :edit, @order.user %>
  <div id="select-customer" class="panel panel-default" data-hook>
    <div class="panel-heading">
      <h1 class="panel-title">
        사용자 검색
      </h1>
    </div>
    <div class="panel-body">
      <%= hidden_field_tag :customer_search,  nil, class: 'error-message' %>
      <%= render partial: "spree/admin/orders/customer_details/autocomplete", formats: :js %>
    </div>
  </div>
<% end %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @order } %>

<%= form_for @order, url: spree.admin_order_customer_url(@order) do |f| %>
  <%= render 'form', f: f %>
<% end %>

<br>

<%= render partial: 'spree/admin/shared/order_summary' %>
