<div data-hook="admin_image_form_fields" class="row">
  <div class="col-md-6">
    <div data-hook="file" class="form-group">
      <%= f.label :attachment, '파일명' %>
      <%= f.file_field :attachment %>
    </div>
    <div data-hook="variant" class="form-group">
      <%= f.label :viewable_id, '옵션' %>
      <%= f.select :viewable_id, @variants, {}, {:class => 'select2'} %>
    </div>
  </div>
  <div data-hook="alt_text" class="col-md-6">
    <div class="form-group">
      <%= f.label :alt, '대체문구' %>
      <%= f.text_area :alt, :rows => 4, :class => 'form-control' %>
    </div>
  </div>
</div>
