<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @promotion } %>

<%= f.field_container :name, class: ['form-group'] do %>
  <%= f.label '이름' %>
  <%= f.text_field :name, :class => 'form-control' %>
<% end %>
<%= f.field_container :code, class: ['form-group'] do %>
  <%= f.label '코드' %>
  <%= f.text_field :code, :class => 'form-control' %>
<% end %>
