<% content_for :page_title do %>
  프로모션 카테고리
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to '새 프로모션 카테고리', new_object_url, :icon => 'add', :class => 'btn-success' %>
<% end %>

<% if @promotion_categories.any? %>
  <table class="table">
    <thead>
      <th><%= Spree::PromotionCategory.human_attribute_name :name %></th>
      <th><%= Spree::PromotionCategory.human_attribute_name :code %></th>
      <th></th>
    </thead>
    <tbody>
      <% @promotion_categories.each do |promotion_category| %>
        <tr>
          <td><%= promotion_category.name %></td>
          <td><%= promotion_category.code %></td>
          <td class="actions actions-2 text-right">
            <%= link_to_edit promotion_category, :no_text => true %>
            <%= link_to_delete promotion_category, :no_text => true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    프로모션 카테고리가 없습니다,
    <%= link_to '추가하세요.', new_object_url %>
  </div>
<% end %>
