<% content_for :page_title do %>
  새 프로모션 카테고리
<% end %>

<%= form_for :promotion_category, :url => collection_url do |f| %>
  <fieldset>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>
