<%= render :partial => "spree/admin/variants/autocomplete", :formats => :js %>
<%= render :partial => "spree/admin/variants/autocomplete_stock", :formats => :js %>

<div class="panel panel-default" id="add-line-item" data-hook>
  <div class="panel-heading">
    <h1 class="panel-title">
      상품추가
    </h1>
  </div>
  <div class="panel-body">
    <div data-hook="add_product_name">
      <%= label_tag :add_variant_id, '상품명 또는 SKU (3글자 이상의 상품명을 넣어주세요.)' %>
      <%= hidden_field_tag :add_variant_id, "", class: "variant_autocomplete fullwidth-input" %>
    </div>

    <div id="stock_details"></div>
  </div>
</div>
