<div data-hook="admin_order_form_fields">
  <% if @line_item.try(:errors).present? %>
      <%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @line_item } %>
  <% end %>

  <%= render :partial => "spree/admin/orders/line_items", :locals => { :order => order } %>
  <%= render :partial => "spree/admin/orders/adjustments", :locals => {
          :adjustments => @order.line_item_adjustments,
          :order => order,
          :title => Spree.t(:line_item_adjustments)
  } %>
  <%= render :partial => "spree/admin/orders/adjustments", :locals => {
          :adjustments => @order.shipment_adjustments,
          :order => order,
          :title => Spree.t(:shipment_adjustments)
  } %>
  <%= render :partial => "spree/admin/orders/adjustments", :locals => {
          :adjustments => @order.adjustments,
          :order => order,
          :title => Spree.t(:order_adjustments)
  } %>

  <% if order.line_items.exists? %>
    <div class="alert alert-success" id="order-total" data-hook="order_details_total">
      주문총액: <strong class="order-total"><%= order.display_total %></strong>
    </div>
  <% end %>

  <%= javascript_tag do %>
    var order_number = '<%= @order.number %>';
    var shipments = [];

    <% @order.shipments.each do |shipment| %>
      shipments.push(<%== shipment.as_json(:root => false, :only => [:id, :tracking, :number, :state, :stock_location_id], :include => [:inventory_units, :stock_location]).to_json %>);
    <% end %>

    <%= render :partial => 'spree/admin/shared/update_order_state', :handlers => [:js] %>
  <% end %>
</div>
