<% content_for :page_actions do %>
  <% if can?(:fire, @order) %>
    <%= event_links %>
  <% end %>
  <% if can?(:resend, @order) %>
    <%= button_link_to '재전송', resend_admin_order_url(@order), method: :post, icon: 'envelope' %>
  <% end %>
<% end %>

<%= render partial: 'spree/admin/shared/order_tabs', locals: { current: :shipments } %>

<% content_for :page_title do %>
  / 배송
<% end %>

<div data-hook="admin_order_edit_header">
  <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @order } %>
</div>

<% if @order.payments.valid.any? && @order.considered_risky? %>
  <%= render 'spree/admin/orders/risk_analysis', latest_payment: @order.payments.valid.last %>
<% end %>

<%= render partial: 'add_product' if @order.shipment_state != 'shipped' && can?(:update, @order) %>

<% if @order.line_items.empty? %>
  <div class="alert alert-warning">
    <%= Spree.t(:your_order_is_empty_add_product)%>
  </div>
<% end %>

<div data-hook="admin_order_edit_form">
  <div id="order-form-wrapper">
    <%= render partial: 'form', locals: { order: @order } %>
  </div>
</div>

<% content_for :head do %>
  <%= javascript_tag 'var expand_variants = true;' %>
<% end %>

<%= render partial: 'spree/admin/shared/order_summary' %>
