<div class="panel-heading">
  <h1 class="panel-title">
    재고추가
  </h1>
</div>
<div class="panel-body">
  <%= form_for [:admin, Spree::StockMovement.new], url: admin_stock_items_path do |f| %>
    <div data-hook="admin_stock_movements_form_fields" class="row">
      <div class="col-md-2">
        <div class="form-group">
          <%= f.field_container :quantity do %>
            <%= f.label :quantity, '수량' %>
            <%= f.number_field :quantity, class: 'form-control', value: 1 %>
          <% end %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <%= f.field_container :stock_location do %>
            <%= label_tag :stock_location_id, '재고위치' %>
            <%= select_tag 'stock_location_id', options_from_collection_for_select(@stock_locations, :id, :name),
              class: 'select2' %>
          <% end %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <%= f.field_container :variant_id do %>
            <%= label_tag 'variant_id', '옵션' %>
            <%= select_tag 'variant_id', options_from_collection_for_select(@variants, :id, :sku_and_options_text),
              class: 'select2' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-actions text-center" data-hook="buttons">
      <%= button '재고추가', 'plus' %>
    </div>
  <% end %>
</div>
