<% content_for :page_actions do %>
  <% if can?(:create, Spree::Product) %>
    <%= button_link_to '새 상품', new_object_url, { class: "btn-success", icon: 'add', id: 'admin_new_product' } %>
  <% end %>
<% end %>

<%= render partial: 'spree/admin/shared/product_tabs', locals: {current: :details} %>
<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @product } %>

<%= form_for [:admin, @product], method: :put, html: { multipart: true } do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>
    <%= render partial: 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
