<div class="row">
  <div data-hook="admin_variant_form_fields" class="col-md-6">
    <div data-hook="variants">
      <% @product.option_types.each do |option_type| %>
        <div class="form-group" data-hook="presentation">
          <%= label :new_variant, option_type.presentation %>
          <%= f.collection_select 'option_value_ids', option_type.option_values, :id, :presentation,
            { :prompt => true }, { :name => 'variant[option_value_ids][]', :class => 'select2' } %>
        </div>
      <% end %>

      <div class="form-group" data-hook="sku">
        <%= f.label :sku, Spree.t(:sku) %>
        <%= f.text_field :sku, :class => 'form-control' %>
      </div>

      <div class="form-group" data-hook="price">
        <%= f.label :price, '가격' %>
        <%= f.text_field :price, :value => number_to_currency(@variant.price, :unit => ''), :class => 'form-control' %>
      </div>

      <div class="form-group" data-hook="cost_price">
        <%= f.label :cost_price, '비용' %>
        <%= f.text_field :cost_price, :value => number_to_currency(@variant.cost_price, :unit => ''), :class => 'form-control' %>
      </div>

      <div class="form-group" data-hook="tax_category">
        <%= f.label :tax_category_id, '세금카테고리' %>
        <%= f.collection_select(:tax_category_id, @tax_categories, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2' }) %>
      </div>
    </div>
  </div>

  <div class="col-md-6" data-hook="admin_variant_form_additional_fields">
    <% [:weight, :height, :width, :depth].each do |field| %>
      <%
      txt = ""
        if field == :weight
          txt = '무게'
        elsif field == :height
          txt = '높이'
        elsif field == :width
          txt = '넓이'
        elsif field == :depth
          txt = '깊이'
        end
      %>
      <div class="form-group" data-hook="<%= field %>"><%= f.label field, txt %>
        <% value = number_with_precision(@variant.send(field), :precision => 2) %>
        <%= f.text_field field, :value => value, :class => 'form-control' %>
      </div>
    <% end %>
  </div>
</div>
