<% content_for :page_title do %>
  속성 수정
<% end %>

<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @property } %>

<%= form_for [:admin, @property] do |f| %>
  <fieldset>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
