<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @property } %>

<% content_for :page_title do %>
  새 속성
<% end %>

<%= form_for [:admin, @property] do |f| %>
  <fieldset data-hook="new_property">
    <%= render partial: 'form', locals: { f: f } %>
    <div class="form-actions">
      <%= render partial: 'spree/admin/shared/new_resource_links' %>
    </div>
  </fieldset>
<% end %>
