<% content_for :page_title do %>
   사이트 스크랩 요청
<% end %>

<% if @site_regist.any? %>
  <table class="table">
    <thead>
      <tr>
        <th width="200px;" style="text-align: center">이메일</th>
        <th width="200px;" style="text-align: center">URL</th>
        <th width="200px;" style="text-align: center">등록일</th>
        <th style="text-align: center">설명</th>

      </tr>
    </thead>
    <tbody>
      <% @site_regist.each do |regist| %>
        <tr>
          <td><%= regist.email %></td>
          <td><%= regist.url %></td>
          <td align="center"><%= regist.created_at %></td>
          <td align="left"><%= regist.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
<div class="alert alert-info no-objects-found">
  사이트 스크랩 요청이 없습니다.
</div>
<% end %>
