
<section class="section section-margin">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
<h1>My Collections</h1>



<div data-hook="account_my_orders" class="account-my-orders">


  <% if @collection_items.present? %>
    <table class="table table-striped order-summary">
      <thead class="active">
      <tr>
        <th>PICTURE</th>
        <th>NAME</th>
        <th>PRICE</th>
        <th>CREATED DATE</th>
        <th>DELETE</th>
      </tr>
      </thead>
      <tbody>
      <% @collection_items.each do |item| %>
        <% product = item.product %>
          <tr>
            <td class="order-number">
              <%= small_image(product, :width => '50px') %>
            </td>
            <td class="order-number"><a href="<%= spree.product_url(product) %>"><%= product.name %></a></td>
            <td class="order-number"><%= display_price(product) %></td>
            <td><%= item.created_at.strftime('%Y-%m-%d') %></td>
            <td>
              <!-- <a class="button-2 button-xsmall button-round collection_delete_btn" collection-id="<%= item.id %>" href="#">DELETE</a> -->
              <%= link_to "DELETE", "/account/collections/#{item.id}", :remote => true, :method => :delete,
                :class => 'collection_delete_submit button-2 button-xsmall button-round', data: {confirm: 'Are you sure?'} %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <% else %>
      <div class="alert alert-info"><%= Spree.t(:you_have_no_orders_yet) %></div>
    <% end %>
    <br />

  </div>

  <% if @collection_items.respond_to?(:num_pages) %>
  <div class="row">
    <div class="col-xs-12" >

        <nav class="pagination">
          <div class="" style="width: 450px; margin: 0 auto;">
          <%= paginate @collection_items, theme: 'twitter-bootstrap-3' %>
          </div>
        </nav>

    </div>
  </div>
  <% end %>
</div>
</div>
</div>
</section>
