
<section class="section section-margin">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>My Profits</h1>



        <div data-hook="account_my_orders" class="account-my-orders">

          <table class="table table-striped order-summary">
            <thead class="active">
            <tr>
              <th>PICTURE</th>
              <th>NAME</th>
              <th>PRICE</th>
              <th>QUANTITY</th>
              <th>PROFIT</th>
              <th>CREATED DATE</th>
            </tr>
            </thead>
            <tbody>
              <% if @profits.each do |profit| %>
                <% product = profit.line_item.variant.product %>
                <tr>
                  <td><%= small_image(product, :width => '50px') %></td>
                  <td><a href="<%= spree.product_url(product) %>"><%= product.name %></a></td>
                  <td><%= display_price(product) %></td>
                  <td><%= profit.line_item.quantity %></td>
                  <td><%= profit.profit %></td>
                  <td><%= profit.created_at.strftime('%Y-%m-%d') %></td>
                </tr>
              <% end.empty? %>
                <tr>
                  <td colspan="6" style="text-align:center">Data not found.</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <% if @profits.respond_to?(:num_pages) %>
        <div class="row">
          <div class="col-xs-12" >

              <nav class="pagination">
                <div class="" style="width: 450px; margin: 0 auto;">
                <%= paginate @profits, theme: 'twitter-bootstrap-3' %>
                </div>
              </nav>

          </div>
        </div>
        <% end %>

      </div>
    </div>
    <div style="height: 200px;"></div>
  </div>
</section>
