<div id="calculator_fields" data-hook class="panel panel-default">

  <div class="panel-heading">
    <h1 class="panel-title">
      계산방법
    </h1>
  </div>

  <div id="preference-settings" data-hook class="panel-body">
    <div class="form-group">
      <%= f.label(:calculator_type, '계산방법', :for => 'calc_type') %>
      <%= f.select(:calculator_type, @calculators.map { |c| [c.description, c.name] }, {}, {:id => 'calc_type', :class => 'select2'}) %>
    </div>
    <% if !@object.new_record? %>
      <div class="form-group">
        <div class="calculator-settings">
          <%= f.fields_for :calculator do |calculator_form| %>
            <%= preference_fields @object.calculator, calculator_form %>
          <% end %>
        </div>
        <% if @object.calculator.respond_to?(:preferences) %>
          <span class="calculator-settings-warning info warning"><%= Spree.t(:calculator_settings_warning) %></span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
