<div class="col-md-6">
  <div class="form-group">
    <%= f.label :taxon, '카테고리' %>
    <select name="q[taxon]">
        <option value="all">선택</option>
      <% Spree::Taxon.all.each do |taxon| %>
        <option value="<%= taxon.id %>" <%= 'selected' if taxon.id.to_s == params[:q][:taxon].to_s %>><%= (taxon.ancestors.pluck(:name) + [taxon.name]).join(" -> ") %></option>
      <% end %>
    </select>
  </div>
</div>
