<% admin = try_spree_current_user.try(:has_spree_role?, "admin") %>

<header class="header <%= admin ? "logged-in" : "logged-out" %>">

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header col-sm-3 col-md-2">
          <a href="<%= spree.admin_path %>" class="logo navbar-brand" style="color:white;">Greepin 관리자</a>

          <% if admin %>
            <span class="navbar-toggle" id="sidebar-toggle">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </span>
          <% end %>
        </div>

        <% if admin %>
          <div class="col-sm-9 col-md-10">
            <div class="navbar-right" >
              <ul class="nav navbar-nav">
    <li class="dropdown user user-menu">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <i class="glyphicon glyphicon-user"></i>
        <span><%= spree_current_user.email %> <i class="caret"></i></span>

      </a>
      <ul class="dropdown-menu">
        <li class="user-header bg-light-blue">
          <p>
            <%= spree_current_user.email %>
          </p>
        </li>
          <li class="user-body">
            <div class="col-xs-12 text-center" data-hook="store-frontend-link">
              <a target="_blank" href="/">쇼핑몰로 가기</a>
            </div>
          </li>

        <li class="user-footer" id="login-nav">
          <div class="pull-left" data-hook="user-account-link">
            <a class="btn btn-default btn-flat" href="/admin/users">계정</a>
          </div>
          <div class="pull-right" data-hook="user-logout-link">
            <a class="btn btn-default btn-flat" href="/admin/logout">로그아웃</a>
          </div>
        </li>
      </ul>
    </li>
  </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </nav>

</header>
