<% if can? :admin, Spree::Order %>
  <ul class="nav nav-sidebar">
    <%= tab *Spree::BackendConfiguration::ORDER_TABS, icon: 'shopping-cart' %>
  </ul>
<% end %>

<% if can? :admin, Spree::Product %>
  <ul class="nav nav-sidebar">
    <%= main_menu_tree '상품', icon: "th-large", sub_menu: "product", url: "#sidebar-product" %>
  </ul>
<% end %>

<% if can? :admin, Spree::Product %>
  <ul class="nav nav-sidebar">
    <%= main_menu_tree '사이트 상품 수집', icon: "download-alt", sub_menu: "scrap", url: "#sidebar-scrap" %>
  </ul>
<% end %>

<% if can? :admin, Spree::Admin::ReportsController %>
  <ul class="nav nav-sidebar">
    <%= tab *Spree::BackendConfiguration::REPORT_TABS, icon: 'file'  %>
  </ul>
<% end %>

<% if can? :admin, Spree::Promotion %>
  <ul class="nav nav-sidebar">
    <%= main_menu_tree '프로모션', icon: "gift", sub_menu: "promotion", url: "#sidebar-promotions" %>
  </ul>
<% end %>

<% if Spree.user_class && can?(:admin, Spree.user_class) %>
  <ul class="nav nav-sidebar">
    <%= tab *Spree::BackendConfiguration::USER_TABS, url: spree.admin_users_path, icon: 'user' %>
  </ul>
<% end %>

<% if can? :admin, current_store %>
  <ul class="nav nav-sidebar">
    <%= main_menu_tree '설정', icon: "wrench", sub_menu: "configuration", url: "#sidebar-configuration" %>
  </ul>
<% end %>
