<div class="form-actions" data-hook="buttons">
  <%= button '저장', 'ok', 'submit', {class: 'btn-success'} %>
  <span class="or"><%= Spree.t(:or) %></span>
  <%= button_link_to '취소', collection_url, :icon => 'remove' %>
</div>
