<% content_for :page_title do %>
  <%= link_to '상품', admin_products_path %> /
  <%= @product.name %>
<% end %>

<% content_for :sidebar do %>
  <ul class="nav nav-pills nav-stacked" data-hook="admin_product_tabs">
    <%= content_tag :li, class: ('active' if current == :details) do %>
      <%= link_to_with_icon 'edit', '상품상세', edit_admin_product_url(@product) %>
    <% end if can?(:admin, Spree::Product) %>
    <%= content_tag :li, class: ('active' if current == :images) do %>
      <%= link_to_with_icon 'picture', '이미지', spree.admin_product_images_url(@product) %>
    <% end if can?(:admin, Spree::Image) %>
    <%= content_tag :li, class: ('active' if current == :variants) do %>
      <%= link_to_with_icon 'th-large', '옵션',  spree.admin_product_variants_url(@product) %>
    <% end if can?(:admin, Spree::Variant) %>
    <%= content_tag :li, class: ('active' if current == :properties) do %>
      <%= link_to_with_icon 'list-alt', '속성', spree.admin_product_product_properties_url(@product) %>
    <% end if can?(:admin, Spree::ProductProperty) %>
    <%= content_tag :li, class: ('active' if current == :stock) do %>
      <%= link_to_with_icon 'home', '재고', stock_admin_product_url(@product) %>
    <% end if can?(:stock, Spree::Product) %>
  </ul>
<% end %>
