<%= search_form_for @search, :url => spree.sales_total_admin_reports_path  do |s| %>
  <div class="form-group date-range-filter">
    <%= label_tag nil, '기간' %>
    <div class="date-range-filter row">
      <div class="col-md-6">
        <%= s.text_field :completed_at_gt, :class => 'datepicker datepicker-from form-control', :value => datepicker_field_value(params[:q][:completed_at_gt]) %>
      </div>
      <div class="col-md-6">
        <%= s.text_field :completed_at_lt, :class => 'datepicker datepicker-to form-control', :value => datepicker_field_value(params[:q][:completed_at_lt]) %>
    </div>
    </div>
  </div>

  <div class="form-actions">
    <%= button '검색', 'search' %>
  </div>
<% end %>
