<% allow_return_item_changes = !@return_authorization.customer_returned_items? %>

<div data-hook="admin_return_authorization_form_fields">
  <table class="table table-condensed table-bordered index return-items-table">
    <thead>
      <tr data-hook="rma_header">
        <th>
          <% if allow_return_item_changes %>
            <%= check_box_tag 'select-all' %>
          <% end %>
        </th>
        <th>상품</th>
        <th>상태</th>
        <th>지불액</th>
        <th>세금 전 금액</th>
        <th>반품타입</th>
        <th>교환</th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :return_items, @form_return_items do |item_fields| %>
        <% return_item = item_fields.object %>
        <% inventory_unit = return_item.inventory_unit %>
        <% editable = inventory_unit.shipped? && allow_return_item_changes && return_item.reimbursement.nil? %>
        <tr>
          <td class="inventory-unit-checkbox">
            <% if editable %>
              <%= item_fields.hidden_field :inventory_unit_id %>
              <%= item_fields.check_box :_destroy, {checked: return_item.persisted?, class: 'add-item', "data-price" => return_item.pre_tax_amount}, '0', '1' %>
            <% end %>
          </td>
          <td>
            <div class="variant-name"><%= inventory_unit.variant.name %></div>
            <div class="variant-options"><%= inventory_unit.variant.options_text %></div>
          </td>
          <td><%= inventory_unit.state.humanize %></td>
          <td>
            <%= return_item.display_pre_tax_amount %>
          </td>
          <td>
            <% if editable %>
              <%= item_fields.text_field :pre_tax_amount, { class: 'refund-amount-input form-control' } %>
            <% else %>
              <%= return_item.display_pre_tax_amount %>
            <% end %>
          </td>
          <td>
            <% if editable %>
              <%= item_fields.select :preferred_reimbursement_type_id, @reimbursement_types.collect{|r|[r.name.humanize, r.id]}, {include_blank: true}, {class: 'select2'} %>
            <% end %>
          </td>
          <td>
            <% if editable %>
              <% if return_item.exchange_processed? %>
                <%= return_item.exchange_variant.exchange_name %>
              <% else %>
                <%= item_fields.collection_select :exchange_variant_id, return_item.eligible_exchange_variants, :id, :exchange_name, { include_blank: true }, { class: "select2 return-item-exchange-selection" } %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= f.field_container :amount, class: ['alert alert-info'] do %>
    세금 전 총액: <span id="total_pre_tax_refund">0.00</span>
  <% end %>

  <%= f.field_container :stock_location, class: ['form-group'] do %>
    <%= f.label :stock_location, '창고위치' %>
    <%= f.select :stock_location_id, Spree::StockLocation.order_default.active.to_a.collect{|l|[l.name, l.id]}, {include_blank: true}, {class: 'select2', "data-placeholder" => '창고위치를 선택하세요.'} %>
    <%= f.error_message_on :stock_location_id %>
  <% end %>

  <%= f.field_container :reason, class: ['form-group'] do %>
    <%= f.label :reason, '반품이유' %>
    <%
      @reasons.each do |r|
        if r.id == 8
          r.name = '충동구매'
        elsif r.id == 1
          r.name = '더 저렴한 가격의 상품 구매'
        elsif r.id == 4
          r.name = '손상된 상품'
        elsif r.id == 6
          r.name = '설명과 다른 상품'
        elsif r.id == 5
          r.name = '주문한 상품과 다른 상품 배송'
        elsif r.id == 2
          r.name = '배송날짜에 부재중 예상 '
        elsif r.id == 3
          r.name = '부속품이 배송 안됨'
        elsif r.id == 7
          r.name = '더 이상 필요없음'
        elsif r.id == 9
          r.name = '허가되지 않은 구매'
        end
    end
     %>

    <%= f.select :return_authorization_reason_id, @reasons.collect{|r|[r.name, r.id]}, {include_blank: true}, {class: 'select2', "data-placeholder" => '반품이유를 선택하세요.'} %>
    <%= f.error_message_on :reason %>
  <% end %>

  <%= f.field_container :memo, class: ['form-group'] do %>
    <%= f.label :memo, '메모' %>
    <%= f.text_area :memo, :class => 'form-control' %>
    <%= f.error_message_on :memo %>
  <% end %>
</div>

<% if Spree::Config[:expedited_exchanges] %>
  <div class="expedited-exchanges-warning"><%= Spree.t(:expedited_exchanges_warning, days_window: Spree::Config[:expedited_exchanges_days_window]) %></div>
<% end %>
