<%= render partial: 'spree/admin/shared/order_tabs', locals: { current: :return_authorizations } %>

<% content_for :page_title do %>
  / 새 반품허가
<% end %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @return_authorization } %>
<%= form_for [:admin, @order, @return_authorization] do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>

    <div class="form-actions" data-hook="buttons">
      <%= button '저장', 'save' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to '취소', spree.admin_order_return_authorizations_url(@order), icon: 'delete' %>
    </div>
  </fieldset>
<% end %>
