<div data-hook="admin_payment_form_fields">
  <div class="form-group">
    <%= f.label :amount, '금액' %>
    <%= f.text_field :amount, :value => @order.display_outstanding_balance.money, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <strong>결제방법</strong>
    <% @payment_methods.each do |method| %>
      <div class="radio" data-id="<%= Spree.t(method.name, :scope => :payment_methods, :default => method.name).parameterize %>">
        <label data-hook="payment_method_field">
          <%= radio_button_tag 'payment[payment_method_id]', method.id, method == @payment_method, { class: "payment_methods_radios" } %>
          <%= Spree.t(method.name, :scope => :payment_methods, :default => method.name) %>
        </label>
      </div>
    <% end %>

    <div class="payment-method-settings">
      <% @payment_methods.each do |method| %>

        <div class="payment-methods" id="payment_method_<%= method.id %>">
          <% if method.source_required? %>
            <%=render :partial => "spree/admin/payments/source_forms/#{method.method_type}",
                       :locals => {
                         :payment_method => method,
                         previous_cards: method.reusable_sources(@order)
                       }
            %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
