<% @body_id = 'signup' %>

<!-- <section class="section-bar-1">
    <div class="container">
        <div class="callout-box-1">
            <div class="box-text">
                <h3><%= Spree.t(:registration) %></h3>
            </div>
            <div class="box-text-2">
                <output>Home/Shop/Shop Single</output>
            </div>
        </div>
    </div>
</section> -->

<section class="section">
    
        <div class="container">
            <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
        </div>
</section>

<section class="section section-margin">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><%= Spree.t(:new_customer) %></h3>
                    </div>
                    <div id="new-customer" class="panel-body" data-hook="login">
                        <%= form_for resource, :as => :spree_user, :url => spree.registration_path do |f| %>
                            <div data-hook="signup_inside_form">
                                <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
                                <p><%= f.submit Spree.t(:create), :class => 'btn btn-lg btn-success btn-block' %></p>
                            </div>
                        <% end %>
                            <div class="text-center">
                                <%= Spree.t(:or) %> 
                                <%= link_to Spree.t(:login_as_existing), spree.login_path %>
                            </div>
                        <div data-hook="login_extras"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>