<%# filters = @taxon ? @taxon.applicable_filters : [Spree::Core::ProductFilters.all_taxons] %>
<% filters = Spree::Taxon.new.applicable_filters  %>


<% unless filters.empty? %>
<section id="filter" class="widget widget-filter">
  <%= form_tag '', :method => :get, :id => 'sidebar_products_search' do %>
    <input type="hidden" name="sorting" value="<%= params[:sorting] %>">
    <%= hidden_field_tag 'per_page', params[:per_page] %>
    <% filters.each do |filter| %>
      <% labels = filter[:labels] || filter[:conds].map {|m,c| [m,m]} %>
      <% next if labels.empty? %>
      <h5><%= filter[:name].upcase %></h5>
      <br/>
      <ul class="list-group">
        <% labels.each do |nm,val| %>
          <% label = "#{filter[:name]}_#{nm}".gsub(/\s+/,'_') %>
          <li class="list-group-item">
            <input type="checkbox"
                   id="<%= label %>"
                   name="search[<%= filter[:scope].to_s %>][]"
                   value="<%= val %>"
                   <%= params[:search] && params[:search][filter[:scope]] && params[:search][filter[:scope]].include?(val.to_s) ? "checked" : "" %> />
            <label class="nowrap" for="<%= label %>" style="color: #959595; font-weight: normal; margin-left: 5px;"> <%= nm %> </label>
          </li>
        <% end %>
      </ul>
    <% end %>

    <%#= submit_tag Spree.t(:search), :name => nil, :class => 'button-1 button-medium' %>
    <%= submit_tag 'FILTER', :name => nil, :class => 'button-1 button-medium' %>
  <% end %>
    <!-- <h5>FILTER BY PRICE</h5>
    <div class="volume">
        <div class="bar-containter"><div class="bar" data-min="0" data-max="1000"><div class="bar-fill shade-5"></div></div></div>
        <span>Price: $</span><span class="min">0</span><span> - $</span><span class="max">1000</span>
        <a href="#" class="button-3 button-round button-small pull-right">FILTER</a>
    </div> -->
</section>
<% end %>
