
<% ignore_types = ["order_completed"].concat(Array(opts[:ignore_types]).map(&:to_s) || []) %>


<% flash.each do |msg_type, text| %>
  <% unless ignore_types.include?(msg_type) %>
    <% if msg_type == 'errors' %>
      <div class="message message-error">
      
        <h3><i class="fa fa-warning"></i><%= Spree.t(:errors_prohibited_this_record_from_being_saved, :count => flash[:errors].count) %>:</h3>
        <p><%= Spree.t(:there_were_problems_with_the_following_fields) %>:</p>
        <ul>
          <% text.each do |t| %>
            <li><%= t %></li>
          <% end %>
        </ul>
        <br/>
        <button>X</button>
      </div>

    <% else %>
      <%= text  %>
    <% end %>
  <% end %>

<% end %>



