<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>

<header>
  <section class="sticky-wrapper">
      <div id="main-menu" class="main-menu">
          <div class="container">
              <div class="row">
                  <nav class="col-md-12">
                      <div id="search-container">
                          <div class="menu-center">
                              <%= form_tag spree.products_path, :method => :get, class: "navbar-form" do %>
                                <!-- <input name="s" placeholder="START TYPING..." type="text" autofocus/> -->
                                <%= search_field_tag :keywords, params[:keywords], :placeholder => "START TYPING...", "autofocus" => "autofocus" %>
                              <% end %>
                              <div class="xbutton main-menu-search">
                                  X
                              </div>
                          </div>
                      </div>
                      <div id="menu-main">
                          <div class="navbar-left">
                              <div class="menu-center">
                                  <ul>
                                      <li>
                                        <a class="nopad" href="/">
                                          <%= image_tag 'greepin_logotype_200x80.png', :width => '100px' %>
                                          <!-- <img class="" src="../assets/img/demo4/logowhite.png" alt=""/> -->
                                        </a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="navbar-right hidden-lg">
                              <div class="menu-center">
                                  <ul class="nav-pills nav menu-lowerpad">
                                      <li><a class="general mobile-menu-toggle"><div class="clearfix bars-icon "><hr/><hr/><hr/></div></a></li>
                                      <li><a class="toggle-1-button"><i class="fa fa-shopping-cart"></i></a></li>
                                      <li><a class="general main-menu-search"><i class="fa fa-search"></i></a></li>
                                      <!-- <li><a class="general toggle-1-button"><div class="clearfix bars-icon "><hr/><hr/><hr/></div></a></li> -->
                                  </ul>
                              </div>
                          </div>


                          <%= render :partial => 'spree/shared/nav_menu', locals: { line_items_count: line_items_count } %>


                      </div>
                  </nav>
              </div>
          </div>
          <div class="mobile-menu">
            <%= render :partial => 'spree/shared/nav_menu_mobile', locals: { line_items_count: line_items_count } %>

          </div>
      </div>
  </section>
</header>
