<div class="container">
    <ul>
      <% get_taxonomies.each do |taxonomy| %>
      <% if taxonomy.root.children.any? %>
        <li>
          <a href="<%= seo_url(taxonomy.root) %>"><%= taxonomy.root.name %></a><a class=" drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
          <ul class="drop-menu">
            <% taxonomy.root.children.each do |children| %>
              <li>
                <% if taxonomy.root.name == 'CLOTHING' %>
                  <a href="<%= seo_url(children) %>"><%= children.name %></a><a class=" drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                  <ul class="drop-menu">
                    <% children.children.each do |children2| %>
                      <li>
                        <a href="<%= seo_url(children2) %>"><%= children2.name %></a>
                      </li>
                    <% end %>
                  </ul>
                <% else %>
                  <a href="<%= seo_url(children) %>"><%= children.name %></a>
                <% end %>
              </li>
            <% end %>
          </ul>

        </li>
        <% else %>
          <li>
            <a href="<%= seo_url(taxonomy.root) %>"><%= taxonomy.root.name %></a>
          </li>
        <% end %>
      <% end %>
        <!-- <li>
            <a href="demo6.html">HOME</a>
        <li>
            <a href="#" class="">PAGES</a><a class=" drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
            <ul class="drop-menu">
                <li><a href="../pages/about_us.html">ABOUT US</a></li>
                <li><a href="../pages/our_services.html">OUR SERVICES</a></li>
                <li><a href="../pages/our_team.html">OUR TEAM</a></li>
                <li><a href="../pages/our_process.html">OUR PROCESS</a></li>
                <li><a href="../pages/price_plan.html">PRICE PLAN</a></li>
                <li><a href="../pages/404_page.html">404 PAGE</a></li>
                <li><a href="../pages/full_width.html">FULL WIDTH PAGE</a></li>
                <li><a href="../pages/right_sidebar.html">RIGHT SIDEBAR</a></li>
                <li><a href="../pages/left_sidebar.html">LEFT SIDEBAR</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="">PORTFOLIO</a><a class=" drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
            <ul class="drop-menu">
                <li>
                    <a href="#" class="">PORTFOLIO WITH MARGIN</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                    <ul class="drop-menu">
                        <li><a href="../porfolio/portfolio_with_margin/2columns_style1.html">2 COLUMN STYLE 1</a></li>
                        <li><a href="../porfolio/portfolio_with_margin/3columns_style1.html">3 COLUMN STYLE 1</a></li>
                        <li><a href="../porfolio/portfolio_with_margin/4columns_style1.html">4 COLUMN STYLE 1</a></li>
                        <li><a href="../porfolio/portfolio_with_margin/2columns_style2.html">2 COLUMN STYLE 2</a></li>
                        <li><a href="../porfolio/portfolio_with_margin/3columns_style2.html">3 COLUMN STYLE 2</a></li>
                        <li><a href="../porfolio/portfolio_with_margin/4columns_style2.html">4 COLUMN STYLE 2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="">PORTFOLIO NO MARGIN</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                    <ul class="drop-menu">
                        <li><a href="../porfolio/portfolio_no_margin/2columns.html">2 COLUMN</a></li>
                        <li><a href="../porfolio/portfolio_no_margin/3columns.html">3 COLUMN</a></li>
                        <li><a href="../porfolio/portfolio_no_margin/4columns.html">4 COLUMN</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="">FULL WIDTH WITH MARGIN</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                    <ul class="drop-menu">
                        <li><a href="../porfolio/full_width_with_margin/2columns_style1.html">2 COLUMN STYLE 1</a></li>
                        <li><a href="../porfolio/full_width_with_margin/3columns_style1.html">3 COLUMN STYLE 1</a></li>
                        <li><a href="../porfolio/full_width_with_margin/4columns_style1.html">4 COLUMN STYLE 1</a></li>
                        <li><a href="../porfolio/full_width_with_margin/2columns_style2.html">2 COLUMN STYLE 2</a></li>
                        <li><a href="../porfolio/full_width_with_margin/3columns_style2.html">3 COLUMN STYLE 2</a></li>
                        <li><a href="../porfolio/full_width_with_margin/4columns_style2.html">4 COLUMN STYLE 2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="">FULL WIDTH NO MARGIN</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                    <ul class="drop-menu">
                        <li><a href="../porfolio/full_width_no_margin/2columns.html">2 COLUMN</a></li>
                        <li><a href="../porfolio/full_width_no_margin/3columns.html">3 COLUMN</a></li>
                        <li><a href="../porfolio/full_width_no_margin/4columns.html">4 COLUMN</a></li>
                    </ul>
                </li>
                <li><a href="../porfolio/masonry.html">PORFOLIO MASONRY</a></li>
                <li>
                    <a href="#" class="">PORTFOLIO WITH SIDEBAR</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                    <ul class="drop-menu">
                        <li><a href="../porfolio/portfolio_with_sidebar/2columns.html">2 COLUMN</a></li>
                        <li><a href="../porfolio/portfolio_with_sidebar/3columns.html">3 COLUMN</a></li>
                        <li><a href="../porfolio/portfolio_with_sidebar/4columns.html">4 COLUMN</a></li>
                    </ul>
                </li>
                <li>
                    <a href="../porfolio/single.html">PORTFOLIO SINGLE</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="">BLOG</a><a class="drop-toggle " href="#"><i class="fa fa-angle-down"></i></a>
            <ul class="drop-menu">
                <li><a href="../blog/right_sidebar.html">RIGHT SIDEBAR</a></li>
                <li><a href="../blog/left_sidebar.html">LEFT SIDEBAR</a></li>
                <li><a href="../blog/full_width.html">FULL WIDTH</a></li>
                <li>
                    <a href="#" class="">BLOG GRID</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                    <ul class="drop-menu">
                        <li><a href="../blog/blog_grid/2columns.html">2 COLUMN</a></li>
                        <li><a href="../blog/blog_grid/3columns.html">3 COLUMN</a></li>
                        <li><a href="../blog/blog_grid/4columns.html">4 COLUMN</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="">BLOG MASONRY</a><a class="drop-toggle" href="../pages/our_team.html"><i class="fa fa-angle-down"></i></a>
                    <ul class="drop-menu">
                        <li><a href="../blog/blog_masonry/2columns.html">2 COLUMN</a></li>
                        <li><a href="../blog/blog_masonry/3columns.html">3 COLUMN</a></li>
                        <li><a href="../blog/blog_masonry/4columns.html">4 COLUMN</a></li>
                    </ul>
                </li>
                <li><a href="../blog/blog_grid_sidebar.html">BLOG GRID SIDEBAR</a></li>
                <li><a href="../blog/blog_masonry_sidebar.html">BLOG MASONRY SIDEBAR</a></li>
                <li>
                    <a href="#" class="">BLOG SINGLE</a><a class="drop-toggle" href="../pages/contact_us.html"><i class="fa fa-angle-down"></i></a>
                    <ul class="drop-menu">
                        <li><a href="../blog/blog_single/standard.html">STANDARD</a></li>
                        <li><a href="../blog/blog_single/gallery.html">GALLERY</a></li>
                        <li><a href="../blog/blog_single/audio.html">AUDIO</a></li>
                        <li><a href="../blog/blog_single/video.html">VIDEO</a></li>
                        <li><a href="../blog/blog_single/blockquote.html">BLOCKQUOTE</a></li>
                        <li><a href="../blog/blog_single/link.html">LINK</a></li>
                        <li><a href="../blog/blog_single/without_sidebar.html">WITHOUT SIDEBAR</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li >
            <a href="#" class="">ELEMENTS</a><a class="drop-toggle " href="#"><i class="fa fa-angle-down"></i></a>
            <ul class="drop-menu">
                <li>
                    <ul>
                        <li>
                            <a href="#" class="">SHORTCODES 1</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                            <ul class="drop-menu">
                                <li><a href="../elements/shortcodes_1/counters.html">COUNTERS</a></li>
                                <li><a href="../elements/shortcodes_1/pricing_tables.html">PRICING TABLES</a></li>
                                <li><a href="../elements/shortcodes_1/message_boxes.html">MESSAGE BOXES</a></li>
                                <li><a href="../elements/shortcodes_1/accordion_toggle.html">ACCORDION & TOGGLE</a></li>
                                <li><a href="../elements/shortcodes_1/content_boxes.html">CONTENT BOXES</a></li>
                                <li><a href="../elements/shortcodes_1/team_member.html">TEAM MEMBER</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="">SHORTCODES 2</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                            <ul class="drop-menu">
                                <li><a href="../elements/shortcodes_2/tabs.html">TABS</a></li>
                                <li><a href="../elements/shortcodes_2/testimonials.html">TESTIMONIALS</a></li>
                                <li><a href="../elements/shortcodes_2/buttons.html">BUTTONS</a></li>
                                <li><a href="../elements/shortcodes_2/progress_bar.html">PROGRESS BAR</a></li>
                                <li><a href="../elements/shortcodes_2/social_icons.html">SOCIAL ICONS</a></li>
                                <li><a href="../elements/shortcodes_2/pie_chart.html">PIE CHART</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="">SHORTCODES 3</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                            <ul class="drop-menu">
                                <li><a href="../elements/shortcodes_3/quotes.html">QUOTES</a></li>
                                <li><a href="../elements/shortcodes_3/parallax_section.html">PARALLAX SECTIONS</a></li>
                                <li><a href="../elements/shortcodes_3/clients.html">CLIENTS</a></li>
                                <li><a href="../elements/shortcodes_3/latest_posts.html">LATEST POSTS</a></li>
                                <li><a href="../elements/shortcodes_3/portfolio_slider.html">PORTFOLIO SLIDER</a></li>
                                <li><a href="../elements/shortcodes_3/services_tables.html">SERVICES TABLES</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="">SHORTCODES 4</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                            <ul class="drop-menu">
                                <li><a href="../elements/shortcodes_4/cover_boxes.html">COVER BOXES</a></li>
                                <li><a href="../elements/shortcodes_4/callout_boxes.html">CALLOUT BOXES</a></li>
                                <li><a href="../elements/shortcodes_4/gallery.html">GALLERY</a></li>
                                <li><a href="../elements/shortcodes_4/lists.html">LISTS</a></li>
                                <li><a href="../elements/shortcodes_4/separators.html">SEPARATORS</a></li>
                                <li><a href="../elements/shortcodes_4/typography.html">TYPOGRAPHY</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="">SHOP</a><a class="drop-toggle " href="#"><i class="fa fa-angle-down"></i></a>
            <ul class="drop-menu">
                <li><a href="../shop/shop_with_sidebar.html">SHOP WITH SIDEBAR</a></li>
                <li><a href="../shop/shop_full_width.html">SHOP FULL WIDTH</a></li>
                <li><a href="../shop/shop_single.html">SHOP SINGLE</a></li>
                <li><a href="../shop/cart.html">CART</a></li>
            </ul>
        </li>
        <li><a class="" href="../contact_us.html">CONTACT US</a></li> -->
    </ul>
</div>
