

<div class="navbar-right visible-lg">
  <div class="menu-center">
    <ul class="nav-pills navbar-right nav">
      <li class="mega-menu">
        <a class="general" href="/collections">COLLECTIONS</a>
      </li>
      <% get_taxonomies.each do |taxonomy| %>
        <% if taxonomy.root.name == 'CLOTHING' %>
          <li class="mega-menu">
            <a class="general" href="<%= seo_url(taxonomy.root) %>"><%= taxonomy.root.name %></a>
            <ul class="sub-menu">
              <li>
                <div class="container">
                  <div class="row">
                    <ul>
                      <% taxonomy.root.children.each_with_index do |children, i| %>
                        <% if i < 4 %>
                          <li>
                            <a href="<%= seo_url(children) %>"><%= children.name %></a>
                            <ul>
                              <% children.children.each do |children2| %>
                                <li><a href="<%= seo_url(children2) %>"><%= children2.name %></a></li>
                              <% end %>

                            </ul>
                          </li>
                        <% end %>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <a class="general" href="<%= seo_url(taxonomy.root) %>"><%= taxonomy.root.name %></a>
            <% if taxonomy.root.children.any? %>
              <ul class="sub-menu">
                <% taxonomy.root.children.each do |children| %>

                  <li>
                    <a href="<%= seo_url(children) %>"><%= children.name %></a>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      <% end %>

              <% if spree_current_user %>
                <li><%= link_to "LOGOUT", spree.logout_path %></li>
                <li><%= link_to "MY ACCOUNT", spree.account_path %></li>
              <% else %>
                <li><%= link_to "LOGIN", spree.login_path %></li>
              <% end %>
            <li><a href="/site_regist/new">SITE REQUEST</a></li>

            <li>
                <a class="clearhover toggle-1-button"><div class="clearfix cart"><i class="fa fa-shopping-cart"></i><output>CART ( <%= line_items_count %> )</output></div></a>
            </li>
            <li><a class="general nopad main-menu-search"><i class="fa fa-search"></i></a></li>
            <!-- <li><a class="general toggle-1-button"><div class="clearfix bars-icon "><hr/><hr/><hr/></div></a></li> -->
        </ul>
    </div>
</div>
