<div class="row">
	<% if order.has_step?("address") %>
		<div class="col-lg-3 col-sm-3 col-xs-12 box-text well">
	       <h4><%= Spree.t(:billing_address) %> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:address) unless order.completed? %></h4>
      		<%= render partial: 'spree/shared/address', locals: { address: order.bill_address } %>
	    </div>

	    <% if order.has_step?("delivery") %>
	    	<div class="col-lg-3 col-sm-3 col-xs-12 box-text">
	    		<h4><%= Spree.t(:shipping_address) %> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:address) unless order.completed? %></h4>
        		<%= render partial: 'spree/shared/address', locals: { address: order.ship_address } %>
	    	</div>

	    	<div class="col-lg-3 col-sm-3 col-xs-12 box-text">
	    		<h4><%= Spree.t(:shipments) %> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:delivery) unless order.completed? %></h4>
		        <div class="delivery">
		          <% order.shipments.each do |shipment| %>
		            <div>
		              <i class='fa fa-truck'></i>
		              <%= Spree.t(:shipment_details, stock_location: shipment.stock_location.name, shipping_method: shipment.selected_shipping_rate.name) %>
		            </div>
		          <% end %>
		        </div>
		        <%= render(partial: 'spree/shared/shipment_tracking', locals: { order: order } ) if order.shipped? %>
	    	</div>

	    	


	    <% end %>
    <% end %>

    <div class="col-lg-3 col-sm-3 col-xs-12 box-text">
    	 <h4><%= Spree.t(:payment_information) %> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:payment) unless order.completed? %></h4>
		<div class="payment-info">
	      	<% order.payments.valid.each do |payment| %>
	        	<%= render payment%><br/>
	      	<% end %>
	    </div>	
	</div>
    
</div>


<hr />
<br />

<div class="row">
	<ul class="cart-table">
	    <li>
	        <div class="col-lg-6 col-sm-6 col-xs-12"><%= Spree.t(:item) %></div>
	        <div class="col-lg-2 col-sm-2 col-xs-12"><%= Spree.t(:price) %></div>
	        <div class="col-lg-2 col-sm-2 col-xs-12"><%= Spree.t(:qty) %></div>
	        <div class="col-lg-2 col-sm-2 col-xs-12"><%= Spree.t(:total) %></div>
	    </li>
	    <% order.line_items.each do |item| %>

		    <li class="item">
		        
		        <div class="col-lg-6 col-sm-6 col-xs-12">
		        	<% if item.variant.images.length == 0 %>
		            	<div><%= link_to small_image(item.variant.product), item.variant.product %></div>
		          	<% else %>
		            	<div><%= link_to image_tag(item.variant.images.first.attachment.url(:small)), item.variant.product %></div>
		          	<% end %>
		            <div class="shop-item-label">
		                <h5><%= item.variant.product.name %></h5>
		                <div class="rating">
		                    <%= item.variant.options_text  unless item.variant.option_values.empty? %>
		                </div>
		            </div>
		        </div>
		        <div class="col-lg-2 col-sm-2 col-xs-12"><%= item.single_money.to_html %></div>
		        <div class="col-lg-2 col-sm-2 col-xs-12"><%= item.quantity %></div>
		           
		            
		        <div class="col-lg-2 col-sm-2 col-xs-12"><%= item.display_amount.to_html %></div>
		    </li>

	    <% end %>
	</ul>
</div>

<div class="row">
    <div class="col-lg-7 col-sm-7 hidden-xs"><div class="empty"></div></div>
    <div class="col-lg-5 col-sm-5 col-xs-12">
        <div class="shop-item-label">
            <h5><Total</h5>
        </div>
        <ul class="pricing-table table-2-col">

            <li class="top-border nopad">
            	<span><%= Spree.t(:subtotal) %></span><span><%= order.display_item_total.to_html %></span>
            </li>

            <% if order.line_item_adjustments.exists? %>
    			<% if order.all_adjustments.promotion.eligible.exists? %>
    				<% order.all_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
    					<li class="nopad">
    						<span><%= Spree.t(:promotion) %>: <strong><%= label %></strong></span>
    						<span><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency) %></span>
    					</li>
    				<% end %>
    			<% end %>
    		<% end %>

    		<% order.shipments.group_by { |s| s.selected_shipping_rate.name }.each do |name, shipments| %>
	            <li class="nopad">
	            	<span><%= Spree.t(:shipping) %>: <%= name %></span>
	            	<span><%= Spree::Money.new(shipments.sum(&:discounted_cost), currency: order.currency).to_html %></span>
	            </li>
            <% end %>

            <% if order.all_adjustments.tax.exists? %>
            	<% order.all_adjustments.tax.group_by(&:label).each do |label, adjustments| %>
            		<li class="nopad">
            			<span><%= Spree.t(:tax) %>: <%= label %></span>
            			<span><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency) %></span>
            		</li>
            	<% end %>
            <% end %>

            <% order.adjustments.eligible.each do |adjustment| %>
            	<% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
            		<li class="nopad">
            			<span><strong><%= adjustment.label %></strong></span>
            			<span><%= adjustment.display_amount.to_html %></span>
            		</li>
            <% end %>

            <li class="nopad">
            	<span><b><%= Spree.t(:order_total) %></b></span>
            	<span><%= order.display_total.to_html %></span>

            </li>

            
        </ul>
    </div>
</div>