
<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:num_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>



<!-- <div data-hook="products_search_results_heading">
  <% if products.empty? %>
    <div data-hook="products_search_results_heading_no_results_found">
      <%= Spree.t(:no_products_found) %>
    </div>
  <% elsif params.key?(:keywords) %>
    <div data-hook="products_search_results_heading_results_found">
      <h6 class="search-results-title"><%= Spree.t(:search_results, keywords: h(params[:keywords])) %></h6>
    </div>
  <% end %>
</div> -->





<!-- ========= CALLOUT BOX LIGHT ======== -->
<section class="section-bar-1">
    <div class="container">
        <div class="callout-box-1">
            <div class="box-text">
                <h3>Shop With Sidebar</h3>
            </div>
            <div class="box-text-2">
                <output><%= breadcrumbs(@taxon) %></output>
            </div>
        </div>
    </div>
</section>

<% if products.any? %>
<section class="section section-margin">
    <div class="container">
        <div class="isotope margin masonry">
            <div class="col-md-9 subpage subpage-left">
                <nav class="pagination no-margin blog-margin-bottom">
                    <!-- <div class="sorting">
                        <a class="drop-toggle-2" href="#">Default sorting
                        <i class="fa fa-angle-down"></i></a>
                        <ul class="drop-menu-2">
                            <li><a href="#">Sort by popularity</a></li>
                            <li><a href="#">Sort by average rating</a></li>
                            <li><a href="#">Sort by newness</a></li>
                            <li><a href="#">Sort by price: low to high</a></li>
                            <li><a href="#">Sort by price: high to low</a></li>
                        </ul>
                    </div> -->



                  <% if params[:controller] == 'spree/taxons' %>
                    <%= form_for :taxon, :url => seo_url(@taxon), :method => 'get' do %>
                    <div class="styled-select">
                      <%= select_tag 'sorting',
                        options_for_select(sort_types.each_pair {  |key, value|
                        [key,value]  }, :selected => params[:sorting]), :onchange => "this.form.submit();" %>
                        <span class="fa fa-sort-desc"></span>
                    </div>
                    <% end %>

                  <% else %>
                    <%= form_tag '/products', :method => 'get' do %>
                      <div class="styled-select">
                      <%= select_tag 'sorting',
                        options_for_select(sort_types.each_pair {  |key, value|
                        [key,value]  }, :selected => params[:sorting]), :onchange => "this.form.submit();" %>
                        <span class="fa fa-sort-desc"></span>
                      </div>
                    <% end %>
                  <% end %>




                      <!-- <p>SORT BY</p> -->

                    <!-- <p>Showing 1-9 of 15 results</p> -->
                    <p><%= page_entries_info @products, :entry_name => 'item' %></p>
                </nav>
                <div class="lowerpad row">
                  <% products.each do |product| %>
                    <% url = spree.product_url(product, taxon_id: @taxon.try(:id)) %>
                    <div class="col-lg-4 col-sm-4 col-xs-12">
                      <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : [I18n.locale, current_currency, product]) do %>
                          <div class="isotope-info">
                            <%= large_image(product, itemprop: "image", class: "img-responsive") %>
                              <!-- <img class="img-responsive" src="http://placehold.it/550x690" alt=""/> -->
                              <div class="hover-info">
                                  <a href="#" class="bg-button"></a>
                                  <a href="#" class="fg-button button-3 button-round button-small">ADD TO CART</a>
                              </div>
                          </div>
                          <div class="shop-item-label">
                              <h5><%= link_to truncate(product.name, length: 50), url, itemprop: "name", title: product.name %></h5>
                              <span><%= display_price(product) %></span>
                          </div>
                        <% end %>
                    </div>
                  <% end %>
                </div>




                <% if paginated_products.respond_to?(:num_pages) %>
                <div class="row">
                  <div class="col-xs-12" >

                      <nav class="pagination">
                        <div class="" style="width: 450px; margin: 0 auto;">
                        <%= paginate paginated_products, theme: 'twitter-bootstrap-3' %>
                        </div>
                      </nav>

                  </div>
                </div>
                <% end %>
            </div>
            <%= render :partial => 'spree/products/sidebar' %>
        </div>
    </div>
</section>
<% else %>
<section class="section section-margin">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-3 col-xs-12">
        <%= Spree.t(:no_products_found) %>
      </div>
    </div>
  </div>
</section>
<% end %>
<!-- ========= END ========= -->
