
<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:num_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>



<!-- <div data-hook="products_search_results_heading">
  <% if products.empty? %>
    <div data-hook="products_search_results_heading_no_results_found">
      <%= Spree.t(:no_products_found) %>
    </div>
  <% elsif params.key?(:keywords) %>
    <div data-hook="products_search_results_heading_results_found">
      <h6 class="search-results-title"><%= Spree.t(:search_results, keywords: h(params[:keywords])) %></h6>
    </div>
  <% end %>
</div> -->





<!-- ========= CALLOUT BOX LIGHT ======== -->
<section class="section-bar-1">
    <div class="container">
        <div class="callout-box-1">
            <div class="box-text">
                <h3>Shop With Sidebar</h3>
            </div>
            <div class="box-text-2">
                <output><%= breadcrumbs(@taxon) %></output>
            </div>
        </div>
    </div>
</section>

<% if products.any? %>
<section class="section section-margin">
    <div class="container">
        <div class="isotope margin masonry">
            <div class="col-md-9 subpage subpage-left">
                <nav class="pagination no-margin blog-margin-bottom">
                  <% if params[:controller] == 'spree/taxons' %>
                    <%= form_for :taxon, :url => seo_url(@taxon), :method => 'get' do %>
                    <div class="styled-select">
                      <%= select_tag 'sorting',
                        options_for_select(sort_types.each_pair {  |key, value|
                        [key,value]  }, :selected => params[:sorting]), :onchange => "this.form.submit();" %>
                        <span class="fa fa-sort-desc"></span>
                    </div>
                    <% end %>

                  <% else %>
                    <%= form_tag '/products', :method => 'get' do %>
                      <div class="styled-select">
                      <%= select_tag 'sorting',
                        options_for_select(sort_types.each_pair {  |key, value|
                        [key,value]  }, :selected => params[:sorting]), :onchange => "this.form.submit();" %>
                        <span class="fa fa-sort-desc"></span>
                      </div>
                    <% end %>
                  <% end %>


                    <p><%= page_entries_info @products, :entry_name => 'item' %></p>
                </nav>
                <div class="lowerpad row">
                  <div class="isotope margin">
                    <% products.each do |product| %>
                      <% url = spree.product_url(product, taxon_id: @taxon.try(:id)) %>
                        <div class="item col-4">
                          <a href="<%= url %>">
                            <div class="isotope-info">

                                <%= large_image(product, itemprop: "image", class: "img-responsive") %>
                                <div class="hover-info"><div class="infobox-3"></div></div>

                            </div>
                            </a>
                            <div class="shop-item-label">
                                <h5><%= link_to truncate(product.name, length: 50), url, itemprop: "name", title: product.name %></h5>
                                <span><%= display_price(product) %></span>
                            </div>
                        </div>
                      <% end %>

                  </div>
                </div>




                <% if paginated_products.respond_to?(:num_pages) %>
                <div class="row">
                  <div class="col-xs-12" >

                      <nav class="pagination">
                        <div class="" style="width: 550px; margin: 0 auto;">
                        <%= paginate paginated_products, theme: 'twitter-bootstrap-3' %>
                        </div>
                      </nav>

                  </div>
                </div>
                <% end %>
            </div>
            <%= render :partial => 'spree/products/sidebar' %>
        </div>
    </div>
</section>
<% else %>
<section class="section section-margin">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-3 col-xs-12">
        <%= Spree.t(:no_products_found) %>
      </div>
    </div>
  </div>
</section>
<% end %>
<!-- ========= END ========= -->
