<% stars = product.stars %>
<% reviews_count = product.reviews.count %>
<div class="ratings">
  <p class="ratings-stars">
    <span title="<%= txt_stars(stars) %>">
      <%= render 'spree/reviews/stars', stars: stars %>
      <p>&nbsp;(<%= reviews_count %> customers reviews)</p>
    </span>

  </p>
  <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <span itemprop="ratingValue" content="<%= stars %>"></span>
    <span itemprop="reviewCount" content="<%= reviews_count %>"></span>
  </div>
</div>