


<ul class="cart-items">
  <% order_form.object.line_items.each do |line_item| %>
    <% variant = line_item.variant %>
      <%= order_form.fields_for :line_items, line_item do |item_form| %>


        <li>

            <%= link_to content_tag(:span, 'x'), '#', class: 'delete close-button side-menu', id: "delete_#{dom_id(line_item)}", "data-hook": 'cart_item_delete' %>
            <%= item_form.hidden_field :quantity, class: "line_item_quantity" %>
            

            <a href="#">
                <%= truncate(line_item.name, length: 25) %>
                <output><%= line_item.quantity %> x <%= line_item.single_money.to_html %></output>

            </a>
            <% if variant.images.length == 0 %>
              <%= small_image(variant.product) %>
            <% else %>
              <%= image_tag(variant.images.first.attachment.url(:small)) %>
              <!-- <img src="http://placehold.it/50x63" alt=""/> -->
            <% end %>

        </li>
      <% end %>
    <% end %>

</ul>
