<!-- ========= SIDE MENU ======= -->



<section id="toggle-1" class="sidemenu">
    <div class="verticalblock">
        <div class="toggle-1-button xbutton">X</div>
        <h5><%= line_items_count %> Items in The Cart</h5>
        <hr/>
        <%= form_for order, url: update_cart_path, html: { id: 'update-cart-side' } do |order_form| %>
          <input type="hidden" name="cart_type" value="side_menu_cart" >
          <input type="hidden" name="current_url" value="<%= request.fullpath %>" >
          <%= render partial: 'spree/shared/side_menu_cart', locals: { order_form: order_form } %>
        <% end %>
        <output>SUBTOTAL: <%= order.display_item_total %></output>
        <hr/>
        <div class="side-menu-button "><a href="/cart">VIEW CART</a></div>
        <% if line_items_count > 0 %>
          <div class="side-menu-button "><a href="/checkout/address">CHECKOUT</a></div>
        <% end %>
        <div class="links">
            <h5>Other Links</h5>
            <ul>
                <li><a href="#">Aenean id quam lectus</a></li>
                <li><a href="#">Morbi nisl mauris, consectetur at</a></li>
                <li><a href="#">Fusce enim elit, faucibus facili</a></li>
                <li><a href="#">In hac habitasse platea</a></li>
                <li><a href="#">Praesent pulvinar, mi tristique </a></li>
                <li><a href="#">Sodales blandit tellus </a></li>
            </ul>
        </div>
    </div>
</section>
<!-- ========= END ========= -->
