<% stars = product.stars %>
<% reviews_count = product.reviews.count %>
<div class="ratings">
  <p class="ratings-stars">
    <span>
      <%= render 'spree/reviews/stars', stars: stars %>
    </span>

  </p>

</div>
