<%= render partial: 'spree/admin/shared/order_tabs', locals: { current: :customer_returns } %>

<% content_for :page_title do %>
  / 새 고객반품
<% end %>

<% if @rma_return_items.any? %>

  <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @customer_return } %>

  <%= form_for [:admin, @order, @customer_return] do |f| %>
    <fieldset class="no-border-top">
      <div data-hook="admin_customer_return_form_fields">
        <fieldset>
          <legend><%= Spree.t(:items_in_rmas) %></legend>
          <% if @rma_return_items.any? %>
            <%= render partial: 'return_item_selection', locals: {f: f, return_items: @rma_return_items} %>
          <% else %>
            <div class="alert alert-info no-objects-found">
              <%= Spree.t(:none) %>
            </div>
          <% end %>
        </fieldset>

        <%= f.field_container :stock_location, class: ['form-group'] do %>
          <%= f.label :stock_location, Spree.t(:stock_location) %>
          <%= f.select :stock_location_id, Spree::StockLocation.order_default.active.to_a.collect{|l|[l.name.humanize, l.id]}, {include_blank: true}, {class: 'select2', "data-placeholder" => Spree.t(:select_a_stock_location)} %>
          <%= f.error_message_on :stock_location_id %>
        <% end %>
      </div>

      <div class="form-actions" data-hook="buttons">
        <%= button Spree.t(:create), 'save' %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= button_link_to Spree.t('actions.cancel'), spree.admin_order_customer_returns_url(@order), icon: 'delete' %>
      </div>
    </fieldset>
  <% end %>

<% else %>

  <div class="alert alert-info no-objects-found">
    모든 아이템이 반품되었습니다.
    <%= link_to '고객반품으로 가기', spree.admin_order_customer_returns_path(@order) %>.
  </div>

<% end %>
