<style>
div.center-cropped2 {
    width: 255px;
    height: 255px;
    overflow: hidden;
}

</style>

<div class="lowerpad row">
  <% category_featured_products =
    Spree::Product.joins(:taxons).
      where(:featured => true, :spree_taxons => { :id => taxonomy.taxons.pluck(:id)}).distinct.limit(8)
  %>

  <% category_featured_products.each do |product| %>
  <div class="col-lg-3 col-sm-3 col-xs-12">
      <a href="<%= spree.product_url(product) %>" style="color: #333;">
      <div class="isotope-info">
          <div class="center-cropped2">
            <%= large_image(product, itemprop: "image", class: "img-responsive") %>
          </div>
          <%#= image_tag 'Product_sample_01.jpg', :class => 'img-responsive' %>
          <div class="hover-info">
              <div class="infobox-3">
                  <hr/>
                  <h4><%= product.name %></h4>
                  <div><%= display_price(product) %></div>
              </div>
          </div>
      </div>
        </a>
  </div>
  <% end %>



</div>
