

<section class="section">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'Main_Slider_01.jpg' %>

    </div>
    <div class="item">
      <%= image_tag 'Main_Slider_02.jpg' %>

    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


</section>








<section class="section section-margin">
  <div class="container">
      <div class="row">
          <h3 class="center">FEATURED</h3>
          <div class="col-md-12">
              <div id="table-3" class="select-table table-h table-2">
                  <nav >
                      <ul>
                        <% featured_taxonomies = Spree::Taxonomy.where(:featured => true) %>
                        <% featured_taxonomies.each_with_index do |taxonomy, i| %>
                          <li <% if i == 0 %> class="active" <% end %>><a href="#<%= taxonomy.name  %>"><%= taxonomy.name %></a></li>
                        <% end %>

                      </ul>
                  </nav>
                  <ul>
                      <% featured_taxonomies.each_with_index do |taxonomy, i| %>
                        <li id="<%= taxonomy.name  %>" <% if i == 0 %>class="active"<% end %>>
                            <%= render :partial => 'spree/home/featured_index', :locals => { :taxonomy => taxonomy } %>
                        </li>
                      <% end %>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>






<!-- <section class="section section-margin ">
     <div class="container">
         <div class="row">
             <div class="col-md-12">
                 <div class="full-width-2">

                     <blockquote>Phasellus mattis porttitor sem, ut cursus metus commodo vel maecenas vitae nisl
                         tincidunt, dictum dolor nec. In consequat suscipit nisl eu porta. Pellentesque
                         mattis tortor sed molestie ornare.</blockquote>


                 </div>
             </div>
         </div>
     </div>
 </section> -->


 <section class="section ">
     <div class="container">
         <div class="row">
             <div class="col-md-12">
                 <div class="infobox-4 full-width center">
                     <!-- <h5>elements</h5> -->
                     <h3>GREEPINER'S SHOP</h3>
                     <hr/>
                 </div>
             </div>
         </div>
     </div>
 </section>





 <!-- <section class="section section-margin-bottom show-overflow">
     <div class="container">
         <div class="row">
             <div class="lowerpad">
               <% get_featurd_collections.each do |featured_collection| %>
                 <div class="col-lg-4 col-sm-4 col-xs-12">
                     <div class="infobox-4">
                         <a href="<%= seo_url(featured_collection.root) %>"><%= image_tag featured_collection.name.downcase.tr(" ", "_") + ".jpg", :class => 'img-responsive' %></a>
                         <div class="circle-sign"><i class="icon-heart"></i></div>
                         <div class="hang">
                             <div class="infobox-text-4">

                                     <h4><a href="#"><%= featured_collection.name %></a></h4>
                                     <p><%= featured_collection.collection_description %></p>
                             </div>
                         </div>
                     </div>
                 </div>
                 <% end %>


             </div>
         </div>
     </div>
 </section> -->






 <!-- <section class="section section-margin">
     <div class="container">
         <div class="row">
           <% get_collections.each do |collection| %>
             <div class="col-lg-3 col-sm-3 col-xs-12">
                 <article class="blog blog-grid no-border">
                     <a href="<%= seo_url(collection.root) %>"><div class="infobox-2 hoverdir">
                         <div class="layer-infobox">
                           <%= image_tag collection.name.downcase.tr(" ", "_") + ".jpg", :class => 'img-responsive' %>
                         </div>
                         <div class="block">
                             <div class="wrapper">
                                 <h4><%= collection.name %></h4>
                                 <span><%= collection.collection_description %></span>
                             </div>
                         </div>
                     </div></a>
                 </article>
             </div>
             <% end %>

         </div>


     </div>
 </section> -->
<style>
div.center-cropped {
    width: auto;
    height: 263px;
    overflow: hidden;
}
div.center-cropped img {
    width: 100%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
</style>

 <section class="section section-margin">
     <div class="container">
         <div class="row">
           <% @collections.each do |collection| %>
           <% collection_items = collection.collection_items %>
             <div class="col-lg-3 col-sm-3 col-xs-12">
                 <article class="blog blog-grid no-border">
                     <a href="/collections/<%= collection.id %>"><div class="infobox-2 hoverdir">
                         <div class="layer-infobox">
                           <div class="center-cropped">
                           <%= large_image(collection_items.sample.product, itemprop: "image", class: "img-responsive") %>
                         </div>
                         </div>
                         <div class="block">
                             <div class="wrapper">
                                 <h4>#<%= collection.user.email.split("@")[0] %></h4>

                                 <span>Collecting <%= collection_items.count %> items</span>
                             </div>
                         </div>
                     </div></a>
                 </article>
             </div>
             <% end %>

         </div>


     </div>
 </section>
