<!-- <ul data-hook="admin_configurations_sidebar_menu" class="collapse nav nav-pills nav-stacked" id="sidebar-configuration"> -->
<ul  class="collapse nav nav-pills nav-stacked" id="sidebar-configuration">
  <%= configurations_sidebar_menu_item('기본설정', spree.edit_admin_general_settings_path) if can? :manage, Spree::Config %>
  <%#= configurations_sidebar_menu_item(Spree.t(:tax_categories), spree.admin_tax_categories_path) if can? :manage, Spree::TaxCategory %>
  <%#= configurations_sidebar_menu_item(Spree.t(:tax_rates), spree.admin_tax_rates_path) if can? :manage, Spree::TaxRate %>
  <%#= configurations_sidebar_menu_item(Spree.t(:zones), spree.admin_zones_path) if can? :manage, Spree::Zone %>
  <%#= configurations_sidebar_menu_item(Spree.t(:countries), spree.admin_countries_path) if can? :manage, Spree::Country %>

  <% if country = Spree::Country.find_by_id(Spree::Config[:default_country_id]) || Spree::Country.first %>
    <%#= configurations_sidebar_menu_item(Spree.t(:states), spree.admin_country_states_path(country)) if can? :manage, Spree::Country %>
  <% end %>

  <%= configurations_sidebar_menu_item('결제방법', spree.admin_payment_methods_path) if can? :manage, Spree::PaymentMethod %>
  <%= configurations_sidebar_menu_item('배송방법', spree.admin_shipping_methods_path) if can? :manage, Spree::ShippingMethod %>
  <%= configurations_sidebar_menu_item('배송카테고리', spree.admin_shipping_categories_path) if can? :manage, Spree::ShippingCategory %>
  <%#= configurations_sidebar_menu_item('재고이동', spree.admin_stock_transfers_path) if can? :manage, Spree::StockTransfer %>
  <%#= configurations_sidebar_menu_item('재고위치', spree.admin_stock_locations_path) if can? :manage, Spree::StockLocation %>
  <%#= configurations_sidebar_menu_item(Spree.t(:analytics_trackers), spree.admin_trackers_path) if can? :manage, Spree::Tracker %>
  <%#= configurations_sidebar_menu_item(Spree.t(:refund_reasons), spree.admin_refund_reasons_path) if can? :manage, Spree::RefundReason %>
  <%#= configurations_sidebar_menu_item(Spree.t(:reimbursement_types), spree.admin_reimbursement_types_path) if can? :manage, Spree::ReimbursementType %>
  <%#= configurations_sidebar_menu_item(Spree.t(:return_authorization_reasons), spree.admin_return_authorization_reasons_path) if can? :manage, Spree::ReturnAuthorizationReason %>
  <%= configurations_sidebar_menu_item('권한', spree.admin_roles_path) if can? :manage, Spree::Role %>
</ul>
