<% @body_id = 'login' %>

<!-- <section class="section-bar-1">
    <div class="container">
        <div class="callout-box-1">
            <div class="box-text">
                <h3><%= Spree.t(:registration) %></h3>
            </div>

        </div>
    </div>
</section> -->

<section class="section section-margin">
    <div class="container">
        <div class="row">
            <div class="col-md-6 <%= request.path == spree.login_path ? "col-md-offset-3" : "" %>">
              <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><%= Spree.t(:login_as_existing) %></h3>
                </div>
                  <div id="existing-customer" class="panel-body" data-hook="login">
                      <% if flash[:alert] %>
                        <div class="alert alert-danger"><%= flash[:alert] %></div>
                      <% end %>
                      <%= render :partial => 'spree/shared/login' %>
                      <div class="text-center">
                        <%= Spree.t(:or) %>
                            <%= link_to Spree.t(:create_a_new_account), spree.signup_path %> |
                            <%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
                      </div>
                      <div data-hook="login_extras"></div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>
