<div data-hook="admin_prototype_form_fields">
  <%= f.field_container :name, class: ['form-group'] do %>
    <%= f.label :name, '이름' %> <span class="required">*</span><br />
    <%= f.text_field :name, class: 'form-control' %>
    <%= f.error_message_on :name %>
  <% end %>

  <div id='properties' data-hook>
    <%= f.field_container :property_ids, class: ['form-group'] do %>
      <%= f.label :property_ids, '속성' %><br>
      <%= f.select :property_ids, Spree::Property.all.map { |p| ["#{p.presentation} (#{p.name})", p.id] }, {}, { multiple: true, class: "select2" } %>
    <% end %>
  </div>

  <div id="option_types" data-hook>
    <%= f.field_container :option_type_ids, class: ['form-group'] do %>
      <%= f.label :option_type_ids, '옵션타입' %><br>
      <%= f.select :option_type_ids, Spree::OptionType.all.map { |ot| ["#{ot.presentation} (#{ot.name})", ot.id] }, {}, { multiple: true, class: "select2" } %>
    <% end %>
  </div>

  <div id='taxons' data-hook>
    <%= f.field_container :taxon_ids, class: ['form-group'] do %>
      <%= f.label :taxon_ids, '카테고리' %><br>
      <%= f.select :taxon_ids, Spree::Taxon.all.map { |t| [t.name, t.id] }, {}, { multiple: true, class: "select2" } %>
    <% end %>
  </div>
</div>
