<% content_for :page_title do %>
  프로토타입 수정
<% end %>

<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @prototype } %>

<%= form_for [:admin, @prototype] do |f| %>
  <fieldset>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
