<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @prototype } %>

<% content_for :page_title do %>
  새 프로토타입
<% end %>

<%= form_for [:admin, @prototype] do |f| %>
  <fieldset data-hook="new_prototype">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>
