<% content_for :page_title do %>
  기본설정
<% end %>

<%= form_tag admin_general_settings_path, method: :put do %>
  <div id="preferences" data-hook>

    <fieldset class="general no-border-top">

      <%= fields_for :store do |f| %>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" data-hook="admin_general_setting_input_name">
              <%= f.label '사이트이름' %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group" data-hook="admin_general_setting_input_seo_title">
              <%= f.label 'SEO 타이틀' %>
              <%= f.text_field :seo_title, class: 'form-control'  %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group" data-hook="admin_general_setting_input_meta_keywords">
              <%= f.label '메타키워드' %>
              <%= f.text_field :meta_keywords, class: 'form-control'  %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group" data-hook="admin_general_setting_input_meta_description">
              <%= f.label '메타 설명' %>
              <%= f.text_field :meta_description, class: 'form-control'  %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group" data-hook="admin_general_setting_input_url">
              <%= f.label '사이트 주소' %>
              <%= f.text_field :url, class: 'form-control'  %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group" data-hook="admin_general_setting_mail_from_address">
              <%= f.label '이메일' %>
              <%= f.text_field :mail_from_address, class: 'form-control'  %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-6">

          <%#-------------------------------------------------%>
          <%# Security settings                               %>
          <%#-------------------------------------------------%>
          <div class="panel panel-default security">
            <div class="panel-heading">
              <h1 class="panel-title">
                보안설정
              </h1>
            </div>

            <div class="panel-body">
              <% @preferences_security.each do |key|
                  type = Spree::Config.preference_type(key) %>
                  <div class="checkbox">
                    <%= label_tag key do %>
                      <%= preference_field_tag(key, Spree::Config[key], type: type) %>
                      <%= Spree.t(key) %>
                    <% end %>
                  </div>
              <% end %>
            </div>
          </div>

          <%#-------------------------------------------------%>
          <%# Clear cache                                     %>
          <%#-------------------------------------------------%>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1 class="panel-title">캐쉬청소</h1>
            </div>

            <div class="panel-body">
              <div class="clear-cache-warning alert alert-warning">
                <%#= Spree.t(:clear_cache_warning) %>
                캐쉬를 청소하면 일시적으로 사이트가 느려질수 있습니다.
              </div>
              <div data-hook="general_settings_clear_cache">
                <%= button '캐쉬청소', 'ok', 'button', id: "clear_cache" %>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-6">

          <%#-------------------------------------------------%>
          <%# Currency Settings                               %>
          <%#-------------------------------------------------%>
          <div class="panel panel-default currency">
            <div class="panel-heading">
              <h1 class="panel-title">
                통화설정
              </h1>
            </div>

            <div class="panel-body">
              <div class="form-group">
                <%= label_tag :currency, '통화를 선택하세요' %>
                <%= select_tag :currency, currency_options %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-actions" data-hook="buttons">
        <%= button '저장', 'save' %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= button_link_to '취소', edit_admin_general_settings_url, icon: 'delete' %>
      </div>

    </fieldset>

  </div>

<% end %>

<script>
  $('#store_default_currency').select2();
  $('#currency').select2();
</script>
